* { margin: 0px; padding: 0px; }

header, footer, aside, nav, article, section { display: block; } 

html, body { width: 100%; }

html { overflow-x: hidden; }

body {
  padding-bottom: 50px;  
	background: url(../images/bg.png); 
	font:  11px 'lucida grande', tahoma, verdana, arial, sans-serif; 
	color: #464646;
}	

a { text-decoration: none; color: #464646; }
a:hover { color: #FC7D49; }
a:active { outline: none; }
a:focus { -moz-outline-style: none; }

input { color: #666; font:  11px 'lucida grande', tahoma, verdana, arial, sans-serif; }
input:focus { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }

.flash-msg {
  margin: 0 auto;
  width: 600px;
  padding: 10px;
  -moz-box-shadow: 0 0 2px 1px #888;
  -webkit-box-shadow: 0 0 2px 1px#888;
  box-shadow: 0 0 2px 1px #888;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  text-align: center;
}
.flash-msg-alert { background: #BD5E55;  }
.flash-msg-notice { background: #6D8F5A; }
.flash-msg p {
  color: #efefef;
  text-shadow: 1px 1px 1px #565656;
  -moz-text-shadow: 1px 1px 1px #565656;
  -webkit-text-shadow: 1px 1px 1px #565656;
}

#main {
  display: none;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 { cursor: default; font: 32px 'Pacifico'; display: block; text-align: center; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
h1 a { text-decoration: none; color: #464646; padding: 0 5px; }
h1 a:hover { 
  text-decoration: none; 
  color: #FC7D49; 
  -webkit-transform: color;
  -webkit-transition-duration: 1s;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 190px;
}

form { margin-left: 190px; }

#listenForm { width: 356px; margin-left: 130px; }

form br { line-height: 18px; }
form div { margin-top: 10px; }
form div input[type=submit] { margin: 0px; }
form .field_with_errors { margin-top: 0px; display: inline-block; }
form .error { color: red; }
form a { display: inline-block; margin-top: 5px; }
label {
  font-weight: bold;
}

input[type=text], input[type=email], input[type=password] {
  width: 200px;
  height: 29px;
  padding: 0px 8px;
  border: solid 1px #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

input[type=button], input[type=submit] { 
  min-width: 54px;
  height: 29px;
  margin: 11px 0px 11px 6px;
  padding: 0 8px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-user-select: none;
  -moz-border-radius: 3px;
  line-height: 27px;
  cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: -o-linear-gradient(top,#f1f1f1,#f5f5f5);
  border-color: #999;  
}
.listen-active {
  background-image: url(/images/loading.gif) !important;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.0);
}

nav { 
  position: absolute;
  top: 10px;
  right: 10px;
}

#q:focus, input:focus { border-color: #999; }

.middle-tooltip {
  width: 312px;
  margin-left: 135px;
  margin-top: 15px;
  padding: 18px 10px;
  color: #464646;
  text-align: center;
  border-top: solid 1px #888;
  border-bottom: solid 1px #888;
  line-height: 16px;
}
.middle-tooltip a { color: #464646; }
.middle-tooltip a:hover { text-decoration: underline; }

#empty-playlist { display: none; }

#player {
	width: 600px;
	margin: 0 auto;
	display: none;
	margin-top: 15px;
	position: relative;
}

#favorite-star { 
  position: absolute; 
  margin-left: 605px;
  width: 16px;
  height: 16px;
  display: block;
  background: url(/images/favorite-sprite.png) no-repeat;
}
.fav { background-position: 0px -16px !important; }

#share { color: #efefef; 	border-bottom: groove 2px #666; padding: 10px 42px; }
#share a {
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  margin-top: -3px;
}
#share a#facebook {
  background: url(/images/facebook.png) no-repeat;
  margin-left: 3px;
}
#share a#twitter {
  background: url(/images/twitter.png) no-repeat;
  margin-left: 20px;
  margin-top: -2px;
}

.slimScrollDiv {
  -moz-box-shadow: 0 0 5px 1px #888;
  -webkit-box-shadow: 0 0 5px 1px#888;
  box-shadow: 0 0 5px 1px #888;
  border-left: groove 2px #666;
  z-index: 10000;
}

#playlist {
  display: none;
  background: url(/images/tooltip-bg.png);
  border: solid 1px #464646;
  position: absolute;
  top: 0px;
  right: 0px;
	width: 200px;
	font-size: 11px;
	height: 100%;
	overflow: auto;
}
#playlist #the-list a {
  display: block;
  color: #ccc;
	text-decoration: none;
	padding: 10px 15px;
	border-bottom: groove 2px #666;
	text-shadow: 1px 1px #222;
	-moz-text-shadow: 1px 1px #222;
	-webkit-text-shadow: 1px 1px #222;
}
#playlist #the-list a.active {
	color: #efefef;
  background: url(/images/active.png) center left;
  background-repeat: no-repeat;
}
#playlist #the-list a:hover {
  color: #efefef !important;
}
#player #currentVideoTitle {
	font-weight: normal;
}
#ytplayerid {
	height: 362px;
}

#history-main { 
  position: relative;
  margin-bottom: 50px; 
}
#history-main h2 {
  margin-left: 0px;
}
#history-main table {
  width: 100%;
  border-spacing: 0;
}
#history-main table tr {
  cursor: pointer;
}
#history-main table tr:hover {
  background: #f0f0f0;
}
#history-main table tr td {
  padding: 5px;
  border-right: dotted 1px #ababab;
  border-bottom: dotted 1px #ababab;
}
#history-main table tr td:nth-child(3) {
  border-right: none;
}
#history-main table thead {
  font-weight: bold;
}
#history-main table thead tr:hover {
  cursor: default;
  background: none;
}
#history-main table tbody tr:last-child td {
  border-bottom: none;
}

.social { position: fixed; bottom: 10px; left: 10px; }
.social iframe { position: absolute; margin-top: -40px; }
.social .twitter { position: absolute; margin-top: -15px; width: 90px; }