* { margin: 0px; padding: 0px; }

header, footer, aside, nav, article, section { display: block; } 

html { overflow-y: scroll; }

a:hover { color: #E0401C; }

body {
	background: url(../images/bg.png); 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	color: #000;
}	

#main {
  display: none;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}
h1 { color: #464646; text-align: center; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
h1:hover {
  -webkit-transform: color;
  -webkit-transition-duration: 1s;
  color: #E0401C;
}
form { width: 355px; margin: 0 auto; }
form input {	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}		

form input:focus {
  outline: 0;
}
		
#q {
  width: 200px;
  height: 29px;
  padding: 0px 8px;
  border: solid 1px #cecfd1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 11px;
  color: #666;
  font-weight: bold;
}

.listen { 
  min-width: 54px;
  height: 29px;
  margin: 11px 0px 11px 6px;
  padding: 0 8px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #cecfd1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  color: #666;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
  cursor: pointer;
}
.listen:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: -o-linear-gradient(top,#f1f1f1,#f5f5f5);
  border-color: #999;  
}

#q:focus, input:focus { border-color: #999; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; } 

#about {
	width: 300px;
	margin-left: 128px;
	margin-top: 15px;
	background: rgba(0, 0, 0, .7);
  border: solid 1px #464646;
  border-radius: 2px;
  padding: 10px 15px;
  color: #fdfdfd;
  font-size: 10px;
  text-shadow: 1px 1px 0 rgba(34, 23, 23, 0.6);
  text-align: center;
}

#player {
	width: 600px;
	margin: 0 auto;
	display: none;
	margin-top: 25px;
	font-size: 10px;
	position: relative;
	z-index: 10000;
}
  #player object {
    margin-top: 5px;
  }
	#playlist {
  	width: 600px;
  	max-width: 600px;
		margin-top: 10px;
		color: #E0401C;
		line-height: 16px;
	}
  #playlist a {
		color: #464646;
		margin-right: 8px;
		margin-left: 8px;
		text-decoration: none;
	}
	#playlist a:hover {
	  color: #E0401C;
	}
	#player #currentVideoTitle {
		color: #464646;
		font-weight: normal;
	}
	#ytplayerid {
		height: 362px;
	}
	nav a {
	  display: block;
		text-decoration: none;
		color: #464646;
	}
	#next {
		float: right;
	}
	
	#player #currentVideoId {
		display: block;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
	}
	#player #currentVideoId:hover {
		color: #FFCD63;
	}

footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
  color: #464646;
  font-size: 10px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
	footer section {
		margin: 10px;
	}
	footer a {
		color: #464646;
		text-decoration: none;
	}
	footer iframe {
		position: absolute;
		margin-top: -2px;
		right: 10px;
		top: 8px;
	}