* { margin: 0px; padding: 0px; }

header, footer, aside, nav, article, section { display: block; } 

html { overflow-y: scroll; }

a:hover { color: #940500; }

body {
	background: url(../images/bg.png); 
	font-family:  'Cabin', Arial, sans-serif; 
	color: #000;
}	

#history {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 150px;
}
#history a {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  color: #464646;
  text-decoration: none;
  display: none;
}
#history a:hover {
  color: #940500;
}

#history-main { 
  position: relative;
  margin-top: 15px; 
  margin-bottom: 50px; 
  z-index: 10000; 
  font-size: 12px;
  color: #464646;
}
#history-main h2 {
  margin-bottom: 20px;
  text-align: center;
}
#history-main table {
  width: 100%;
  border-spacing: 0;
}
#history-main table tr {
  cursor: pointer;
}
#history-main table tr:hover {
  background: #f0f0f0;
}
#history-main table thead{
  font-weight: bold;
}
#history-main table thead tr:hover {
  cursor: default;
  background: none;
}
#history-main table tr td:nth-child(3) {
  border-right: none;
}
#history-main table tr td {
  padding: 5px;
  border-right: dotted 1px #ababab;
  border-bottom: dotted 1px #ababab;
}
#history-main table tbody tr:last-child td {
  border-bottom: none;
}
#history-main a {
  color: #464646;
  text-decoration: none;
}
#history-main a:hover {
  color: #940500;
}

#main {
  display: none;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}
h1 { cursor: default; font-family: 'Pacifico'; color: #464646; display: block; margin-left: 251px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
h1:hover {
  -webkit-transform: color;
  -webkit-transition-duration: 1s;
  color: #940500;
}
h1 a { text-decoration: none; color: #464646; }
h1 a:hover { color: 940500; text-decoration: none; }
form { width: 356px; margin: 0 auto; }
form input {	
	font-family: 'Cabin', Arial, sans-serif; 
}		

form input:focus {
  outline: 0;
}
		
#q {
  width: 200px;
  height: 29px;
  padding: 0px 8px;
  border: solid 1px #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.listen { 
  min-width: 54px;
  height: 29px;
  margin: 11px 0px 11px 6px;
  padding: 0 8px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-user-select: none;
  -moz-border-radius: 3px;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  line-height: 27px;
  cursor: pointer;
}
.listen:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: -o-linear-gradient(top,#f1f1f1,#f5f5f5);
  border-color: #999;  
}

#q:focus, input:focus { border-color: #999; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; } 

#about {
	width: 312px;
	margin-left: 130px;
	margin-top: 15px;
	background: url(/images/tooltip-bg.png);
  border: solid 1px #464646;
  border-radius: 3px;
  padding: 10px;
  color: #fdfdfd;
  font-size: 12px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0,3);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,3);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,3);
  -o-shadow: 1px 1px 1px rgba(0,0,0,3);
}
#about .tooltip-tip {
  background: url(/images/tooltip-tip.png) no-repeat;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  margin-top: -19px;
  margin-left: 151px;
}

#player {
	width: 600px;
	margin: 0 auto;
	display: none;
	margin-top: 25px;
	font-size: 12px;
	position: relative;
	z-index: 10000;
}
  #share {
    position: absolute;
    margin-left: 610px;
    margin-top: 20px;
  }
  #share a {
    display: block;
    width: 16px;
    height: 16px;
    border: none;
  }
  #share a#facebook {
    background: url(/images/facebook.png) no-repeat;
  }
  #share a#twitter {
    background: url(/images/twitter.png) no-repeat;
    margin-top: 5px;
  }
  
  #player object {
    margin: 5px 0px;
  }
	#playlist {
  	width: 600px;
  	max-width: 600px;
		margin-top: 10px;
		color: #940500;
		line-height: 16px;
	}
	#playlist b {
	  margin: 0px 8px;
	}
  #playlist a {
		color: #464646;
		text-decoration: none;
	}
	#playlist a:hover {
	  color: #940500 !important;
	}
	#player #currentVideoTitle {
		color: #464646;
		font-weight: normal;
	}
	#ytplayerid {
		height: 362px;
	}
	nav a {
	  display: inline-block;
		text-decoration: none;
		color: #464646;
	}
	#next {
		float: right;
	}

footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
  color: #464646;
  font-size: 12px;
}
	footer a {
		color: #464646;
		text-decoration: none;
	}
	footer iframe {
		position: absolute;
		margin-top: -2px;
		right: 30px;
		top: 8px;
	}