<div class="tab-content timeline-tab-content">
  <h2>Timeline</h2>

  <ol id="timeline-list">
    <% @user.events.limit(30).each do | event | %>
      <li>
        <span class="timeline-icon <%= timeline_icon(event.event) %>"></span>
        <span class="event-copy"><%= timeline_event(event) %></span>
        <span class="time-ago"><%= time_ago_in_words(event.created_at) %> ago</span>
      </li>
    <% end %>
  </ol>
</div>