<div class="tab-content timeline-tab-content">
  <h2>Timeline</h2>

  <ol id="timeline-list">
    <% @user.events.limit(30).each do | event | %>
      <li>
        <%= timeline_event(event) %>
      </li>
    <% end %>
  </ol>
</div>