<section id="profile" class="remove-when-searching">
  <% if @user.present? %>
    <div id="profile-info">
      <img id="profile-badge-profile-picture" src="http://www.gravatar.com/avatar/<%= @user.md5_email || 'false' %>?s=50">
      <h2>
        <%= @profile_owner ? "Your Profile" : "#{@user.username}'s Profile" %>
      </h2>
      <% if @profile_owner %><a href="#" id="import-youtube-playlists-open-dialog">Import YouTube Playlists</a><% end %>
      <div class="clear"></div>
    </div>

    <%= render :partial => 'playlists/playlists' %>

    <div class="clear"></div>
  <% else %>
    <h2>user missing in action!</h2>

    <p>
      Looks like there's no user with the name <b><%= params[:username] %></b>.
      Make sure you spelled it right and give it another go. If the user's
      still MIA, shoot and email to <a href="mailto:listen.to.tubalr@gmail.com">listen.to.tubalr@gmail.com</a>
      and we'll see if we can track this user down!
    </p>
  <% end %>
</section>