<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_xCOrtFGn35CA1J00R7R5f8jmPBGc4');
    
    function stripeResponseHandler(status, response) {
        if (response.error) {
            //show the errors on the form
            $(".payment-errors").html(response.error.message);
            $('.submit-button').attr("disabled", "enabled");
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            // and submit
            form$.get(0).submit();
        }
    }
    
    $(document).ready(function() {
      $(".submit-button").click(function() {
        // disable the submit button to prevent repeated clicks
        $('.submit-button').attr("disabled", "disabled");

        Stripe.createToken({
            number:     $('.card-number').val(),
            cvc:        $('.card-cvc').val(),
            exp_month:  $('.card-expiry-month').val(),
            exp_year:   $('.card-expiry-year').val()
        }, stripeResponseHandler);

        // prevent the form from submitting with the default action
        return false;
      });
    });
</script>

<section id="supporter-main">
  <h2>
    Become A Supporter!
  </h2>

  <% if current_user.nil? %>
    <p>To become a support you first need to <a href='/users/sign_up'>register an account</a> or <a href='/users/sign_in'>login to an existing one</a>!</p>
  <% else %>
    <% if current_user.supporter %>
      <p>Woah, sweet, you're already a supporter, thanks a ton. If you need to edit your support settings go to your <a href="/users/edit">account settings.</a></p>
    <% else %>
      <p>
        Thanks for your interest in becoming a Tubalr supporter! Sign-up below for a supporter account, at $5 a month.<br/><br/>
        A supporter account gets you nothing special, it simply shows your support for Tubalr. Supporters do have the highest 
        possible priority when it comes to bugs/feature request. 
    
        <br/><br/>NOTE: Supporter accounts may be awarded special functionality as Tubalr
        matures.
      </p>

      <form action="/supporter/sign_up" method="POST" id="payment-form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <input type="hidden" name="user_id"  value="<%= current_user.id %>"/>
    
        <div>
          <label>Card Number</label><br/>
          <input type="text" autocomplete="off" class="card-number"/>
        </div>
  
        <div>
          <label>CVC</label><br/>
          <input type="text" autocomplete="off" class="card-cvc"/>
        </div>
  
        <div>
          <label>Expiration (MM/YYYY)</label><br/>
          <input type="text" class="card-expiry-month"/> <span> / </span> <input type="text" class="card-expiry-year"/>
        </div>
    
        <input type="button" class="submit-button" value="Submit"/>

        <span class="payment-errors error"></span>
      </form>
    <% end %>
  <% end %>
</section>