@import "compass";

#playlists-main li {
  a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;  
  }
  

  .custom-playlist-settings-open-dialog {
    display: none;
    float: right;
    margin-right: 10px;
  }

  &:hover {
    .custom-playlist-settings-open-dialog {
      display: inline-block;
      cursor: pointer;
    }
  }
}

#custom-playlist-settings {
  h3 {
    margin-bottom: 10px;
  }

  #rename-playlist{
    #playlist-name {
      margin-right: 10px;
    }
  }

  #danger-zone {
    margin-top: 20px;
    
    p {
      margin-bottom: 10px;
    }

    #delete-playlist {
      background: #E83841;
    }    
  }
}