@import "compass";

.select2-drop {
  &.select2-drop-above, &.select2-drop-active {
    @include box-shadow(none);
  }

  .select2-search {
    .select2-input {
      width: 160px;
      padding-right: 36px;
      background-image: url('/assets/search.png');
      background-repeat: no-repeat;
      background-position: 136px 8px;
    }
  }
}

#s2id_add-to-playlist-dropdown {
  &.select2-container, .select2-container.select2-drop-above {
    .select2-choice {
      height: 29px;
      line-height: 29px;
      @include box-shadow(none);
      border-color: #aaa;
      background: none;

      div {
        background: none;
        border: none;
      }
    }
  }

  &.select2-results .select2-no-results {
    background: none;
  }
}