@import "compass";

html.dim-the-lights {

  body {
    background: #111;
    color: #8b8b8b;


    ::-webkit-scrollbar {
      background: #333;
    }

    ::-webkit-scrollbar-thumb {
      background: #444;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    a {
      color: #8b8b8b;

      &:hover {
        color: #3498DB;
      }
    }

    input, a.button, button {
      @include opacity(.5);
      border-color: #333;
      background: #333;
      color: #ccc;

      &:hover {
        color: #ccc;
      }
    }

    p a {
      color: #3498DB;
    }

    .ui-dialog .ui-dialog-titlebar-close {
      color: #000;
    }

    #notices aside {
      background: #333;
    }
  }

  #header #main-nav #more-menu:hover {
    background: #333;

    #menu {
      background: #333;

      a#profile-badge {
        border-color: #464646;
      }
    }
  }

  .select2-choices {
    background: #222;
    border-color: #222 !important;
  }

  .select2-drop {
    &.select2-drop-above, &.select2-drop-active {
      background: #222;
      color: #8b8b8b;
      border-color: #222;
    }

    .select2-search {
      .select2-input {
        color: #8b8b8b;
        border-color: #333;
      }
    }

    .select2-no-results {
      background: #222;
    }

    .select2-results .select2-highlighted {
      background: #333;
    }
  }

  #s2id_add-to-playlist-dropdown {
    &.select2-container, .select2-container.select2-drop-above {
      .select2-choice {
        background: #222;
        border-color: #222;
      }
    }
  }

  .album-cover-list li .cover {
    @include opacity(.5);
  }

  .ui-dialog {
    background: #111;

    .ui-dialog-title, .ui-dialog-content, .ui-dialog-titlebar .ui-dialog-titlebar-close {
      color: #8b8b8b;
    }
  }
}