@import "compass";

#djing {
  display: none;
  margin-top: 20px;
}

#dj-listeners, #dj-chat {
  display: none;
  float: left;
  height: 359px;
  overflow: auto;
  width: 100%;
  position: relative;
}

#dj-listeners {
  li {
    padding: 10px;

    &:nth-child(even) {
      background: rgba(0,0,0,.3);
    }
  }
}

#dj-chat {
  #dj-chat-log {
    height: 301px;
    padding: 10px;
    overflow-y: scroll;
  }

  #dj-chat-input-wrapper {
    padding: 10px;
    border-top: solid 1px #464646;


    #dj-chat-input {
      padding: 0;
      background: none;
      width: 100%;;
      background: none;
      color: white;
      @include border-radius(0);
    }
  }

  .line {
    word-wrap: break-word;
    margin-bottom: 8px;

    .from {
      color: #DDF556;
      margin-right: 10px;
    }
  }
}