@import "compass";

#djing {
  display: none;
  margin-top: 20px;
}

#dj-chat {
  display: none;
  float: left;
  height: 390px;
  overflow: auto;
  width: 100%;
  position: relative;

  #dj-listener-count-wrapper {
    position: absolute;
    right: 30px;
    top: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
    padding: 5px 10px;
    @include border-radius(5px);

    #dj-listener-count {
      margin-left: 10px;
    }
  }

  #dj-chat-log {
    height: 332px;
    padding: 10px;
    overflow-y: scroll;
  }

  #dj-chat-input-wrapper {
    padding: 10px;
    border-top: solid 1px #464646;


    #dj-chat-input {
      padding: 0;
      background: none;
      width: 100%;;
      background: none;
      color: white;
      @include border-radius(0);
    }
  }

  .line {
    word-wrap: break-word;
    margin-bottom: 8px;

    .from {
      color: #DDF556;
      margin-right: 10px;
    }
  }
}