@import "compass";

#explore-main {
  h2 {
    margin-bottom: 15px;

    span {
      text-transform: none;
      float: right;
      font-weight: normal;
      font-size: 10px;
      color: #fff;
    }

    a {
      float: none;
    }
  }

  #explore-list {
    list-style-type: none;

    li {
      margin-right: 30px;
      display: inline-block;
    }
  }
}