@import "compass";

input {
  color: #000;
  font: 12px 'Open Sans', sans-serif;

  &:focus {
    outline: 0;
  }
}

input[type=text], input[type=email], input[type=password], textarea {
  padding: 8px 14px;
  width: 250px;
  border: none;
  font-size: 12px;
  border: solid 1px #E6E6E6;
  @include border-radius(4px);

  &.small {
    padding: 6px 14px;
  }
}

input[type=button], input[type=submit], a.button, button {
  font-size: 12px;
  color: #464646;
  line-height: normal;
  padding: 8px 20px;
  background-color: #E6E6E6;
  border: solid 1px #E6E6E6;
  cursor: pointer;
  @include border-radius(4px);

  &:hover {
    text-decoration: none;
    color: #464646;
  }

  &.small {
    padding: 6px 14px;
  }
}

button:focus { outline: 0; }

.select2-drop-multi {
  margin-left: 0;
}

.select2-container-multi.select2-container-active .select2-choices {
  @include box-shadow(none);
  border-color: #aaa;
}

form {
  #left-col, #right-col {
    float: left;

    &#right-col {
      margin-left: 200px;
    }
  }

  input[type=text], input[type=email], input[type=password] { margin-top: 15px; margin-bottom: 15px; }
  div i { font-size: 12px; }
  div p { width: 430px; margin-top: 15px; }
  div label { font-size: 12px; font-weight: bold; text-transform: capitalize; }
  div input[type=submit] { margin: 0px; margin-top: 15px; }
  div p.no-input-field { margin-bottom: 15px; }
  .field_with_errors { margin-top: 0px; display: inline-block; }
  .error { color: red; margin-left: 10px; }
  .form-link { display: inline-block; margin-top: 15px; }
  .remember-me { margin-bottom: 15px; }
  input[type=checkbox] { margin-right: 10px; }

  #video-quality {
    #video-quality-inner {
      margin-top: 4px;
      margin-bottom: 24px;
    }

    .normal-label {
      font-weight: normal;
      text-transform: lowercase;
    }
  }
}

#last-fm-settings {
  margin-top: 30px;

  p {
    width: auto;
    margin-bottom: 20px;
  }
}