@import "compass";

#main-header {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  
  #logo {
    float: left;
    margin-left: 20px;
    font: 30px 'PT Sans';
    font-weight: 700;
    @include text-shadow(0 0 10px rgba(0, 0, 0, .8));
    
    a {
      color: #fff; 
      
      &:hover {
       text-decoration: none; 
      }
    }
  }
  
  #main-nav {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    
    a {
      margin-left: 30px;
      @include text-shadow(0 0 10px rgba(0, 0, 0, .8));
      
      &:hover {
       text-decoration: none; 
      }
    }
  }
}