@import "compass";

#header {
  height: 100px;
  line-height: 100px;

  #logo {
    text-align: center;
    font: 40px 'PT Sans';
    font-weight: 700;
    line-height: 100px;

    a:hover {
      text-decoration: none;
    }
  }
}