@import "compass";

#import-youtube-playlists-welcome {
  line-height: 33px;
}

#import-youtube-playlists-open-dialog {
  float: right;
}

#import-youtube-playlists-action {
  margin-top: 20px;
}

#import-youtube-playlists-username {
  margin-right: 10px;
}

#import-youtube-playlists-importing, #import-youtube-playlists-error {
  display: none;
  text-align: center;
}