@import 'compass';

#index-section {
  margin-top: 30px;
  margin-left: 20px;

  .featured-playlist {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 120px;
    line-height: 120px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    @include text-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.5));

    &:hover {
      color: #fff;

      &:after {
        @include opacity(0.4);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      background: #383840;
      @include opacity(0.6);
      @include transition(0.5s);
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  .chillstep {
    background-image: asset_url('featured-playlists-art/chillstep.png');
  }

  .chillmusic {
    background-image: image-url('featured-playlists-art/chillmusic.png');
  }

  .ambientmusic {
    background-image: image-url('featured-playlists-art/ambientmusic.png');
  }

  .indie-rock {
    background-image: image-url('featured-playlists-art/indie-rock.png');
  }

  .dubstep {
    background-image: image-url('featured-playlists-art/dubstep.png');
  }

  .postrock {
    background-image: image-url('featured-playlists-art/postrock.png');
  }

  .stonerrock {
    background-image: image-url('featured-playlists-art/stonerrock.png');
  }

  .listentothis {
    background-image: image-url('featured-playlists-art/listentothis.png');
  }

  .punk {
    background-image: image-url('featured-playlists-art/punk.png');
  }

  .electrohouse {
    background-image: image-url('featured-playlists-art/electrohouse.png');
  }

  .house {
    background-image: image-url('featured-playlists-art/house.png');
  }

  .posthardcore {
    background-image: image-url('featured-playlists-art/posthardcore.png');
  }

  .reggae {
    background-image: image-url('featured-playlists-art/reggae.png');
  }

  .jazz {
    background-image: image-url('featured-playlists-art/jazz.png');
  }

  .chillwave {
    background-image: image-url('featured-playlists-art/chillwave.png');
  }

  .indie-folk {
    background-image: image-url('featured-playlists-art/indie-folk.png');
  }

  .hip-hop {
    background-image: image-url('featured-playlists-art/hip-hop.png');
  }

  .metal {
    background-image: image-url('featured-playlists-art/metal.png');
  }

  .classical {
    background-image: image-url('featured-playlists-art/classical.png');
  }

  .edm {
    background-image: image-url('featured-playlists-art/edm.png');
  }

  .blues {
    background-image: image-url('featured-playlists-art/blues.png');
  }

  .country {
    background-image: image-url('featured-playlists-art/country.png');
  }

  .indie-pop {
    background-image: image-url('featured-playlists-art/indie-pop.png');
  }

  .post-rock {
    background-image: image-url('featured-playlists-art/post-rock.png');
  }
}