@import 'compass';
@import 'util';

#listen-section {

  #error-or-loading {
    text-align: center;
    margin-top: 200px;

    #loading {
      font-size: 60px;
    }
  }

  #playlist-title {
    margin: 44px 45px 38px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #playlist {
    padding: 0;
    margin: 20px 20px $player-controls-height;
    list-style-type: none;

    .playlist-item {
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      cursor: pointer;
      @include transition(0.5s);

      &:nth-child(odd) {
        background: #31313B;
      }

      &:hover, &.active-playlist-item {
        color: $text-hover-color;
      }

      .playlist-item-title {
        @include calc(width, '100% - 130px');
        display: inline-block;
        margin-right: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .playlist-item-duration {
        float: right;
        width: 70px;
        font-size: 12px;
        font-family: sans-serif;
        text-align: right;
      }
    }
  }

  #player-controls {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: $player-controls-height;
    line-height: $player-controls-height;
    padding: 0 20px;
    background: #2b2a30;
    @include box-shadow(0 5px 25px 14px rgba(0,0,0,.2));

    #left-controls-wrapper {
      float: left;
      width: 95px;
    }

    #progress-wrapper {
      @include calc(width, '100% - 95px');
      position: relative;
      float: left;

      #time-elapsed, #total-time {
        position: absolute;
        top: 0;
        width: 70px;
        text-align: center;
        font-size: 12px;
        font-family: sans-serif;

        &#time-elapsed {
          left: 0;
        }

        &#total-time {
          right: 0;
        }
      }

      #progress-bar-outer {
        height: 8px;
        @include calc(width, '100% - 140px');
        margin: 25px auto 0;
        background: #42424a;
        @include border-radius(4px);

        #progress-bar-inner {
          height: 8px;
          @include border-radius(4px);
          width: 0%;
          background: $text-hover-color;
        }
      }
    }

    .control-button {
      padding: 0;
      margin: 0;
      cursor: pointer;
      border: none;
      background: none;
      color: $font-color;
      font-size: 16px;
      @include transition(0.5s);

      &:hover {
        color: #9cf4a7;
      }
    }

    .play-pause-button {
      margin: 0 10px;
    }
  }

}