@import "compass";

// everyone can thank sir john ledbetter for this glorius animation
@-webkit-keyframes imfeelinglucky {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -114px;
  }
}

@-moz-keyframes imfeelinglucky {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -114px 0px;
  }
}

#listening-options {
  margin-top: 130px;

  #type-of-music, #search-for-music {
    float: left;
    width: 45%;
    text-align: center;

    #type-of-music-inner-container, #search-for-music-inner-container {
      max-width: 410px;

      &#type-of-music-inner-container {
        margin-left: auto;
        margin-right: 20px;
      }

      &#search-for-music-inner-container {
        margin-left: 20px;
        margin-right: auto;

        h2 {
          margin-bottom: 50px;
        }
      }
    }
  }

  #or {
    float: left;
    width: 10%;
    text-align: center;
    margin-top: 76px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }

  #type-of-music {
    ul {
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        a {
          display: inline-block;
          padding: 5px 10px;
          background: #efefef;
          @include border-radius(2px);

          &:hover {
            background: #3498DB;
            color: #fff;
          }

          &.im-feeling-lucky {
            &:hover {
              -webkit-animation: imfeelinglucky 1s linear infinite;
              -moz-animation: imfeelinglucky 1s infinite linear;
              @include text-shadow(0px 0px 2px rgba(0, 0, 0, 0.9));
              $experimental-support-for-svg: true;
              background: #efefef;
              @include background(linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff, #ff0000));
            }
          }
        }
      }
    }
  }

  #search-for-music {
    #q {
      width: 200px;
      margin: 0px;
    }

    .bottom-link {
      display: inline-block;
      margin: 10px;
      color: #999;
      border-bottom: dashed 1px #ccc;
    }
  }

}
