@import 'compass';
@import 'util';

#listen-section {

  #error-or-loading {
    text-align: center;
    margin-top: 200px;

    #loading {
      font-size: 60px;
    }
  }

  #playlist-title {
    margin: 44px 45px 38px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #playlist {
    padding: 0;
    margin: 20px 20px;
    list-style-type: none;

    .playlist-item {
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      cursor: pointer;
      @include transition(0.5s);

      &:nth-child(odd) {
        background: #31313B;
      }

      &:hover, &.active-playlist-item {
        color: $text-hover-color;
      }

      .playlist-item-title {
        @include calc(width, '100% - 130px');
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  #player-controls {
    float: right;
    margin-right: 45px;
    background: rgba(0,0,0,.3);
    padding: 8px 16px;
    border-radius: 18px;
    margin-top: -7px;

    .control-button {
      padding: 0;
      margin: 0;
      cursor: pointer;
      border: none;
      background: none;
      color: $font-color;
      font-size: 16px;
      @include transition(0.5s);

      &:hover {
        color: #9cf4a7;
      }
    }

    .play-pause-button {
      margin: 0 10px;
    }
  }

}