@import "compass";

* {
  margin: 0px;
  padding: 0px;
}

header, footer, aside, nav, article, section {
  display: block;
}

*, object, embed {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  padding: 0 20px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
	color: #444444;

  ::-webkit-scrollbar {
    width: 8px;
    background: #efefef;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c3c3c3;
  }
}

p {
  margin-bottom: 30px;
  line-height: 22px;

  a {
    color: #3498DB;
  }
}

a {
  color: #444444;
  text-decoration: none;

  &:hover {
    color: #3498DB;
  }

  &:active {
    color: #3498DB;
    outline: none;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
}

#main-wrapper {
  @include box-sizing(border-box);
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#notices {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  z-index: 1000;

  aside {
    display: block;
    margin-bottom: 10px;
    background: #efefef;
    width: 160px;
    padding: 10px;
    @include border-radius(4px);
  }
}

.clear {
  clear: both;
}

.social {
  max-width: 250px;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  left: 10px;

  iframe {
    display: block;
    margin-top: 10px
  }
}
