*:focus { outline: none !important; }
* { margin: 0px; padding: 0px; }

html { overflow-x: hidden; overflow-y: scroll; overflow: -moz-scrollbars-vertical; }
html, body { width: 100%; }

body {
	background: url(/assets/bg.png); 
	font:  11px 'lucida grande', tahoma, verdana, arial, sans-serif; 
	color: #666;
	margin-bottom: 20px;
}	

header, footer, aside, nav, article, section { display: block; } 

a         { color: #666; text-decoration: none; }
a:hover   { color: #C21F1F; }
a:active  { outline: none; }
a:focus   { -moz-outline-style: none; }

button::-moz-focus-inner {
  border: 0;
}

input { 
  color: #666; font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif; 
}
input:focus, button:focus { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }

.flash-msg {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  -moz-box-shadow: 0 0 2px 1px #888;
  -webkit-box-shadow: 0 0 2px 1px#888;
  box-shadow: 0 0 2px 1px #888;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}
.flash-msg-alert  { background: #BD5E55; }
.flash-msg-notice { background: #6D8F5A; }
.flash-msg p {
  color: #efefef;
  text-shadow: 1px 1px 1px #565656;
  -moz-text-shadow: 1px 1px 1px #565656;
  -webkit-text-shadow: 1px 1px 1px #565656;
}

#main {
  display: none;
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 { 
  display: block;
  cursor: default; 
  font: 32px 'Pacifico';
  text-align: center; 
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); 
}
h1 a { 
  text-decoration: none; 
  color: #464646; 
  padding: 0 5px; 
}
h1 a:hover { 
  text-decoration: none; 
  color: #C21F1F; 
  -webkit-transform: color;
  -webkit-transition-duration: 1s;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 150px;
}

form { margin-left: 150px; }

#listenForm { text-align: center; margin-left: 0px; }

form br { line-height: 18px; }
form div { margin-top: 10px; }
form div input[type=submit] { margin: 0px; }
form .field_with_errors { margin-top: 0px; display: inline-block; }
form .error { color: red; }
form a { display: inline-block; margin-top: 5px; }
label { font-weight: bold; }

input[type=text], input[type=email], input[type=password] {
  width: 200px;
  height: 29px;
  padding: 0px 8px;
  border: solid 1px #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

input[type=button], input[type=submit] { 
  min-width: 54px;
  height: 29px;
  margin: 11px 0px 11px 6px;
  padding: 0 8px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #cecfd1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-user-select: none;
  -moz-border-radius: 3px;
  line-height: 27px;
  cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: linear-gradient(top,#f1f1f1,#f5f5f5);
  background-image: -o-linear-gradient(top,#f1f1f1,#f5f5f5);
  border-color: #999;  
}
.listen-active {
  background-image: url(/assets/loading.gif) !important;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.0);
}

nav { 
  position: absolute;
  top: 10px;
  right: 10px;
}

#q:focus, input:focus { border-color: #999; }

.middle-tooltip {
  width: 312px;
  margin: 0 auto;
  margin-top: 13px;
  text-align: center;
  line-height: 16px;
}
.middle-tooltip-hide { display: none; }  

#empty-playlist { display: none; }

#player #icons {
  position: absolute;
  margin-left: 505px;
  display: block;
}
#player #icons a {
width: 16px;
height: 16px;
display: block;
}
#info-icon {
  background: url(/assets/info.png) no-repeat;
}
#favorite-star { 
  margin-bottom: 5px;
  background: url(/assets/favorite-sprite.png) no-repeat;
}
.fav { background-position: 0px -16px !important; }

#share { color: #efefef; 	border-bottom: groove 2px #555; padding: 10px 42px; }
#share a {
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  margin-top: -3px;
	text-shadow: 1px 1px #222;
	-moz-text-shadow: 1px 1px #222;
	-webkit-text-shadow: 1px 1px #222;
}
#share a#facebook {
  background: url(/assets/facebook.png) no-repeat;
  margin-left: 3px;
  margin-top: -1px;
}
#share a#twitter {
  background: url(/assets/twitter.png) no-repeat;
  margin-left: 20px;
  margin-top: -1px;
}

.slimScrollDiv {
  position: fixed !important;
  -moz-box-shadow: 0 0 5px 1px #888;
  -webkit-box-shadow: 0 0 5px 1px#888;
  box-shadow: 0 0 5px 1px #888;
  border-left: groove 2px #555;
  z-index: 900;
}

#playlist {
  display: none;
  background: #333;
  background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)) !important;
  background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)) !important;
  border: solid 1px #464646;
  position: absolute;
  top: 0px;
  right: 0px;
	width: 200px;
	font-size: 11px;
	height: 100%;
	overflow: auto;
}
#playlist #the-list a {
  display: block;
  color: #ccc;
	text-decoration: none;
	padding: 10px 15px;
	border-bottom: groove 2px #555;
	text-shadow: 1px 1px #222;
	-moz-text-shadow: 1px 1px #222;
	-webkit-text-shadow: 1px 1px #222;
}
#playlist #the-list a.active {
	color: #efefef;
  background: url(/assets/active.png) center left;
  background-repeat: no-repeat;
}
#playlist #the-list a:hover {
  color: #efefef !important;
}
#player {
	width: 500px;
	padding-bottom: 3px;
	margin: 0 auto;
	display: none;
	margin-top: 15px;
	position: relative;
}
#ytplayerid {
	height: 280px;
	width: 480px;
	box-shadow: 10px 4px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 10px 4px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 10px 4px 5px rgba(0,0,0,0.7);
}

#player { text-align: center; }
#player button {
  display: inline-block;
  cursor: pointer; 
  border: none;
}
#play-or-pause {
}
#play-or-pause.playing {
  background-position: -40px 2px;
}
#play-or-pause.paused {
  background-position: -66px 3px;
}
#prev-or-next {
}
#prev-or-next.next {
  background-position: -101px 0px;
}
#prev-or-next.prev {
  background-position: -9px 0px;
}

#stats-main h2 {
  margin-left: 0px;
}
#stats-main table {
  margin-bottom: 40px;
  width: 100%;
  border-spacing: 0;
}
#stats-main table tr {
  cursor: pointer;
}
#stats-main table tr:hover {
  background: #f0f0f0;
}
#stats-main table tr td {
  padding: 5px;
  border-right: dotted 1px #ababab;
  border-bottom: dotted 1px #ababab;
}
#stats-main table tr td:last-child {
  border-right: none;
}
#stats-main table thead {
  font-weight: bold;
}
#stats-main table thead tr:hover {
  cursor: default;
  background: none;
}
#stats-main table tbody tr:last-child td {
  border-bottom: none;
}

#genres-main h2 {
  margin-left: 0px;
}
#genres-main p {
  margin-bottom: 15px;
}
#genres-main ul {
  list-style-type: none;
}
#genres-main ul li {
  display: inline-block;
  width: 250px;
  float: left;
  margin-bottom: 20px;
}
#genres-main ul li a {
  font-weight: bold;
  font-size: 14px;
}
#genres-main ul li i:hover {
  cursor: pointer;
  color: #C21F1F;
}

.social { position: fixed; bottom: 10px; left: 10px; }
.social .twitter { display: block; margin-bottom: 7px; width: 90px; }

#info { display: none; margin-top: 25px; }

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; padding: 10px; background: url(/assets/bg.png); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin-bottom: 5px; height: 20px; width: 100%; font-size: 17px; font-weight: bold; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 10px; font-style: italic; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; max-height: 300px !important; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-content ul { list-style-type: none; }

img#santa-hat {
  position: absolute;
  margin-left: -99px;
  margin-top: 2px;
  width: 30px;
}