@import 'compass';
@import 'util';

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: $font-color;
  background: $background-color;
}

input, button {
  font-family: 'Raleway', sans-serif;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
  @include transition(0.5s);

  &:hover {
    color: $text-hover-color;
  }
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  width: 10px;

  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.1) 1px 0px 2px inset);
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#player {
  display: none;
}

#left-section {
  position: absolute;
  left: 0;
  top: $fixed-section-height;
  bottom: 60px;
  width: $left-section-width;
  overflow: auto;
  color: #fff;

  #fixed-section {
    position: fixed;
    z-index: 1;
    top: 0;
    width: $left-section-width;
    height: $fixed-section-height;
    background: $background-color;
    text-align: center;

    h1 {
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: 'PT Sans';
      font-size: 40px;
      font-weight: 700;
    }

    input {
      background: none;
      padding: 8px 18px;
      border: solid 1px #e0e0e0;
      @include border-radius(16px);
      color: #fff;
      @include transition(0.5s);

      &:focus {
        box-shadow: 0px 0px 15px -2px rgba(156, 244, 167, 0.36);
        border-color: rgba(156, 244, 167, 0.6);
      }
    }
  }

  #playlists {
    h3 {
      margin-left: 20px;
      margin-bottom: 25px;
      color: #e0e0e0;
      font-size: 12px;
      text-transform: uppercase;

      i {
        float: right;
        margin-right: 20px;
      }

      &.clickable-h3 {
        cursor: pointer;
      }
    }

    .playlists-msg {
      margin-left: 20px;
      margin-bottom: 25px;
      margin-top: 25px;
      font-size: 14px;
      color: #737d86;
      line-height: 22px;
    }

    ul {
      margin-top: 0;
      margin-left: 20px;
      list-style-type: none;
      padding: 0;

      li {
        height: 35px;
        line-height: 35px;

        &.no-search-results {
          color: #737d86;
          font-size: 12px;
        }

        a {
          display: inline-block;
          width: 100%;
          font-size: 14px;
          color: #737d86;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            color: $text-hover-color;
          }
        }
      }
    }
  }
}

#right-section {
  position: absolute;
  left: $left-section-width;
  top: 0;
  bottom: 60px;
  right: 0;
  overflow: auto;
}
