@import "compass";

* { margin: 0px; padding: 0px; }

header, footer, aside, nav, article, section { display: block; }

*, object, embed { outline: none; }
input::-moz-focus-inner { border: 0; }

::-webkit-scrollbar {
  width: 8px;
  background: #efefef;
}

::-webkit-scrollbar:hover {
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}

body {
  width: 1024px;
  margin: 0 auto;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
	color: #464646;
}

p {
  margin-bottom: 30px;
  line-height: 22px;

  a {
    color: #3498DB;
  }
}

a {
  color: #464646;
  text-decoration: none;

  &:hover {
    color: #3498DB;
  }

  &:active {
    color: #3498DB;
    outline: none;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

h3 {
  margin-bottom: 15px;
}

#notices {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;

  aside {
    display: block;
    margin-bottom: 10px;
    background: #efefef;
    width: 160px;
    padding: 10px;
    @include border-radius(4px);
  }
}

.ui-dialog {
  input[type=button], input[type=submit], a.button, button {
    background: #548FF4;
    color: #fff;
  }
}

#empty-playlist {
  display: none;
  width: 400px;
  margin: 0 auto;
  margin-top: 13px;
  text-align: center;
}

#current-video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

#share-playlist {
  float: right;
  margin-right: 10px;

  span {
    margin-left: 15px;
    font-size: 16px;
    cursor: pointer;
  }
}

#player {
  display: none;
}

#ytplayerid {
  height: 390px;
  width: 68%;
  float: left;
}

#playlist {
  height: 390px;
  width: 32%;
  float: left;
  overflow: auto;
  list-style-type: none;

  a {
    display: block;
  	padding: 10px 34px 10px 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      color: #3498DB
    }

    &:hover {
  	  text-decoration: none;
    }
  }

  li {
    position: relative;

    .icon-trash {
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    &:hover .icon-trash {
      display: block;
    }
  }
}

#player-controls {
  margin-top: 40px;
}

#player-controls-left, #player-controls-right {
  height: 31px;

  &#player-controls-left {
    float: left;
  }

  &#player-controls-right {
    float: right;
    
    .button {
      display: inline-block;
      background: none;
      border: none; 
    }
  }
}

#users-main p {
  margin-bottom: 15px;
}

.social {
  max-width: 250px;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  left: 10px;
  @include opacity(.5);

  &:hover {
    @include opacity(1);
  }

  iframe {
    display: block;
    margin-top: 10px
  }
}

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000; background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); filter: Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.ui-dialog { box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -webkit-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -moz-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); position: absolute; padding: .2em; width: 300px; overflow: hidden; padding: 10px; background: #efefef; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin-bottom: 5px; height: 20px; width: 100%; font-size: 18px; color: #000; font-weight: bold; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 10px; font-style: italic; color: #000; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; color: #000; }
.ui-dialog .ui-dialog-content ul { list-style-type: none; }

#about-tubalr { display: none; }

.ui-dialog {
  a {
    color: #2667D4;
  }
}

#about-tubalr {
  p {
    display: block;
    margin-bottom: 15px;
    line-height: 16px;
    font-size: 12px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.why-register {
  ol {
    li {
      margin: 10px 20px;
    }
  }
}

#loading {
  display: none;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

#add-to-playlist-dropdown {
  width: 300px;
}

#create-new-playlist {
  display: none;

  #create-new-playlist-name {
    width: 150px;
  }
}

#echo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  @include opacity(.5);

  &:hover {
    @include opacity(1);
  }

  img {
    border: none;
  }
}

.clear {
  clear: both;
}