*:focus { outline: none !important; }
* { margin: 0px; padding: 0px; }

html { overflow-y: scroll; }

body {
	background: url('/assets/bg.png'); 
	font:  11px HelveticaNeue, Helvetica, Arial, sans-serif; 
	color: #464646;
	padding-bottom: 20px;
}	

header, footer, aside, nav, article, section { display: block; } 

a { 
  color: #464646; 
  text-decoration: none; 
  moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  
  &:hover {
    color: #2667D4;
  }
  
  &:active {
    outline: none;
  }
}

input { 
  color: #464646; 
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
  
  &:focus {
    outline: 0;
  } 
}

button:focus { outline: 0; }

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #464646;
  text-transform: capitalize;
}

#notices {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  
  aside {
    display: block;
    margin-bottom: 10px;
    text-shadow: 1px 1px #222;
    -moz-text-shadow: 1px 1px #222;
    -webkit-text-shadow: 1px 1px #222;
    color: #fff;
    background: #333;
    background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)) !important;
    background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)) !important;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  	border: groove 2px #555;
  }
}

#main {
  display: none;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
.mobile-body {
  overflow-x: hidden !important;
}
.mobile-inner-main {
  margin: 15px !important;
}

header {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  
  h1 {
    float: left;
    margin-left: 20px;
    font: 30px 'PT Sans';
    font-weight: 700;
  }
  
  nav {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 12px;
    
    a {
      margin-left: 30px;
    }
  }
}

/* Stuff for devise forms */
form input[type=text], form input[type=email], form input[type=password] { margin-top: 15px; margin-bottom: 15px; }
form div i { font-size: 12px; }
form div input[type=submit] { margin: 0px; }
form .field_with_errors { margin-top: 0px; display: inline-block; }
form .error { color: red; }
form a { display: inline-block; margin-top: 15px; }
form .remember-me { margin-bottom: 15px; }

input[type=text], input[type=email], input[type=password], textarea {
  width: 250px;
  border: solid 1px #cecfd1;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  moz-transition: all .218s;
  -o-transition: all .218s;
  -webkit-transition: all .218s;
  transition: all .218s;
}

input[type=button], input[type=submit] { 
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  padding: 8px 25px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,white,#e6e6e6);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,white,#e6e6e6);
  background-image: -o-linear-gradient(top,white,#e6e6e6);
  border: 1px solid #cecfd1;
  cursor: pointer;
  moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type=button]:hover, input[type=submit]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: #999;  
}
#listenForm {
  input[type=button], input[type=submit] {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#548FF4),to(#2667D4));
    background-image: -webkit-linear-gradient(top,#548FF4,#2667D4);
    background-color: #2667D4;
    background-image: linear-gradient(top,#548FF4,#2667D4);
    background-image: -o-linear-gradient(top,#548FF4,#2667D4);
    border: 1px solid #2667D4;
    color: #fff;
    
    &:hover {
      border-color: #2052A7; 
    }
  }
}
.loading-button {
  background-image: url(/assets/loading.gif) !important;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.0) !important;
}

#listenForm { 
  text-align: center; 
  margin-bottom: 20px; 
  background: #efefef;
  background: rgba(255, 255, 255, .3);
  border-radius: 3px;
  border: solid 1px #ccc;
}

#listenForm input { margin-right: 10px; }
#listenForm input[type=button].mobile {
  padding: 8px !important;
}
#listenForm #q.mobile {
  width: 50% !important;
}  
#q {
  width: 400px;
}
#q:focus, input:focus, textarea:focus {  
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: #999;
}

#empty-playlist { 
  display: none; 
  width: 400px;
  margin: 0 auto;
  margin-top: 13px;
  text-align: center;
}

#share {
  text-align: right;
  margin-bottom: 10px;

  img {
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
  }
}

#playlist {
  margin-top: 10px;
  margin-bottom: 10px;
  
  a {
    display: block;
    color: #464646;
  	text-decoration: none;
  	padding: 20px 0px;
    border-top: dotted 1px #ccc;

    &:first-child {
      border-top: none;
      padding-top: 10px;
    }

    &.active {
    	color: #2667D4;
    }

    &:hover {
      color: #2667D4 !important;
    }
  }
}

.share-video {
	display: none;
	float: right;
	margin-top: -5px;
	font-size: 12px;
	font-weight: normal;
	padding: 4px 12px;
}
#share-video {
	overflow: hidden;
}
#share-video div {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin-bottom: 10px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
#share-video div.facebook {
	background: #3B5998;
}
#share-video div.twitter {
	background: #4099FF;
}

#share-video .url {
  width: 150px;
  margin: 0 auto;
  display: block;
}

#player {
  padding: 0;
  background: none;
  position: relative;
	margin: 0 auto;
	display: none;
	border: none;
}
#ytplayerid {
	height: 400px;
	width: 100%;
	background: #000;
	margin-bottom: 10px;
}
.mobile-ytplayerid {
  height: 250px !important;
}

#player-controls {
  margin-top: 5px;
  margin-bottom: 5px;
}
#player-controls input {
  padding: 4px 12px;
  font-size: 12px;
  font-weight:  normal;
}
#player-controls-right { float: right; }
#remove-video:hover { color: red; }

#stats-main h3 {
  font-size: 18px;
  font-weight: bold;
}

#stats-main ol {
  margin-left: 28px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
}
#stats-main ol li {
  margin-bottom: 10px;
}

#stats-main table {
  margin-bottom: 20px;
  width: 100%;
  border-spacing: 0;
}
#stats-main table tr.clickable-row:hover {
  background: #F1EFD3;
  cursor: pointer;
}
#stats-main table tr td {
  padding: 10px 5px;
  border-right: dotted 1px #ababab;
  border-bottom: dotted 1px #ababab;
}
#stats-main table tr td:last-child {
  border-right: none;  
  width: 130px;
}
#stats-main table thead {
  font-weight: bold;
}
#stats-main table tbody tr:last-child td {
  border-bottom: none;
}

#stats-main table#general tbody tr {
  font-size: 16px;
  padding: 0px;
}
#stats-main table#general tbody tr td:last-child {
  text-align: right;
}
#stats-main table#general tr td {
  border: none;
  padding: 5px 0px;
}

section {
  background: #efefef;
  background: rgba(255, 255, 255, .3);
  padding: 15px 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #ccc;
}

#users-main p {
  margin-bottom: 15px;
}
.social { position: fixed; bottom: 10px; left: 10px; }
.social .twitter {}
.social iframe { display: block; margin-top: 10px}

#info { line-height: 18px; }

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000; background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); filter: Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.ui-dialog { box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -webkit-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -moz-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); position: absolute; padding: .2em; width: 300px; overflow: hidden; padding: 10px; background: #efefef; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin-bottom: 5px; height: 20px; width: 100%; font-size: 18px; color: #464646; font-weight: bold; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 10px; font-style: italic; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-content ul { list-style-type: none; }

#about-tubalr, #playlists-dialog { display: none; }

#about-tubalr p {
  display: block;
  margin-bottom: 15px;
  line-height: 16px;
  font-size: 12px;
}
#about-tubalr p a {
  color: #2667D4;
}
#about-tubalr h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

#users-main ul  { list-style-type: none; }
#users-main li  { margin-bottom: 10px; line-height: 16px; }
#users-main a   { font-size: 14px; font-weight: bold; }
#users-main p   { margin-top: 5px; }

ul#playlists {
  list-style: none;
  margin: 25px 0px;
  min-height: 60px;
  padding: 0;
}

ul#playlists li {
  display: inline-block;
  width: 158px;
  padding: 8px 10px;
  margin: 5px;
  background: #464646;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

ul#playlists li:hover {
  background: #ABA8B5;
  color: #000;
}

ul#playlists li.already-in-playlist {
  background: #ABA8B5;
  color: #000;
  cursor: default;
}

#playlists-dialog #no-playlists {
  margin-top: 25px;
  position: absolute;
  height: 60px;
}

#create-new-playlist {
  text-align: center;
  height: 51px;
}
#create-new-playlist input[type=text] {
  display: none;
}
#create-new-playlist #cancel-create-new-playlist-button {
  display: none;
}
#create-new-playlist #create-playlist-status {
  line-height: 51px;
}
#create-new-playlist #create-playlist-status span {
  display: none;
}

#playlists-main ul {
  list-style: none;
}
#playlists-main ul {
  margin-top: 20px;
}
#playlists-main ul li {
  font-size: 14px;
  display: inline-block;
  width: 247px;
  margin-bottom: 20px;
}

#explore {
  section {
    float: left;
    width: 348px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    &:last-child {
      margin-right: 0;
    }
    
    &.mobile {
      float: none;
      width: auto;
      margin-right: 0;
    }
    
    ul {
      list-style-type: none;
      min-height: 150px;
      
      &.loading-list {
        background: url("/assets/loading-list.gif") no-repeat center center;
      }
      
      li {
        margin-top: 10px;
        cursor: pointer;
        moz-transition: all .3s;
        -o-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
        
        &:first-child {
          margin-top: 0px;
        }
        
        &:hover {
          color: #2667D4;
        }
      }
    }
  }
}

.why-register {
  float: right;
  
  ol {
    li {
      margin: 10px 20px;
    }
  }
}

#rain {
  text-align: center;
  
  #ytplayerid {
    display: none;
  }
  
  &.mobile {
    #ytlayerid {
      display: block;
      margin-top: 20px;
    }
  }
  
  #share-rain {
    div {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    	width: 200px;
    	display: inline-block;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	text-align: center;
    	margin: 15px 5px 0px;
    	color: #fff;
    	font-size: 16px;
    	cursor: pointer;
  	
    	&.facebook {
    	  background: #3B5998;
    	}
  	
    	&.twitter {
    	  background: #4099FF;
    	}
    }
  }
}