@import "compass";

* { margin: 0px; padding: 0px; }

*, object, embed { outline: none; }
input::-moz-focus-inner { border: 0; }

::-webkit-scrollbar {
  width: 12px;
  background: #eee;
}

::-webkit-scrollbar:hover {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #919191;
}

html { 
  overflow-y: scroll; 
  background: url(/assets/bg6.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
	color: #fff;
	padding-bottom: 20px;
}	

header, footer, aside, nav, article, section { display: block; } 

a { 
  color: #fff; 
  text-decoration: none; 
  moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  
  &:hover {
    color: #CFFFFF;
  }
  
  &:active {
    outline: none;
  }
}

input { 
  color: #000; 
  font: 12px 'Open Sans', sans-serif;
  
  &:focus {
    outline: 0;
  } 
}

button:focus { outline: 0; }

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #CFFFFF;
  text-transform: capitalize;
}

#notices {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  
  aside {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,.5);
    width: 200px;
    padding: 10px;
    @include border-radius(3px);
    border: solid 1px #000;
  }
}

#main {
  display: none;
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
  
  #inner-main {
    margin: 10px;
  }
}

.mobile-body {
  overflow-x: hidden !important;
}

/* Stuff for devise forms */
form input[type=text], form input[type=email], form input[type=password] { margin-top: 15px; margin-bottom: 15px; }
form div i { font-size: 12px; }
form div input[type=submit] { margin: 0px; }
form .field_with_errors { margin-top: 0px; display: inline-block; }
form .error { color: red; }
form a { display: inline-block; margin-top: 15px; }
form .remember-me { margin-bottom: 15px; }

input[type=text], input[type=email], input[type=password], textarea {
  padding: 8px 14px;
  width: 250px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  @include border-radius(3px);
  background: #FFFFFF;
}

input[type=button], input[type=submit], a.button { 
  font-size: 12px;
  color: #000;
  font-weight: bold;
  line-height: normal;
  padding: 8px 20px;
  @include border-radius(3px);
  background-color: whiteSmoke;
  border: none;
  cursor: pointer;
  moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  
  &:hover {
    text-decoration: none;
  }
  
  &.has-icon-left span {
    margin-right: 5px; 
    line-height: normal;
  }
  
  &.has-icon-right span {
    margin-left: 10px; 
    line-height: normal;
  }
}

#listenForm { 
  text-align: center; 
  margin-bottom: 20px; 
  background: #000;
  background: rgba(0, 0, 0, .5);
  @include border-radius(5px);
  @include box-shadow(0 0 5px rgba(0,0,0,.5));
  border: solid 1px #000;
  
  input[type=button], input[type=submit] {
    background: #548FF4;
    border: none;
    color: #fff;
  }
}

#listenForm input { margin-right: 10px; }
#listenForm input[type=button].mobile {
  padding: 8px !important;
}
#listenForm #q.mobile {
  width: 50% !important;
}  
#q {
  width: 400px;
}

#empty-playlist { 
  display: none; 
  width: 400px;
  margin: 0 auto;
  margin-top: 13px;
  text-align: center;
}

#playlist {
  list-style-type: none;
  background: none;
  border: none;
  padding: 0;
  @include box-shadow(none);
  
  a {
    display: block;
  	padding: 15px 10px;
    color: #fff;

    &.active {
      background: #000;
      background: rgba(0,0,0,.3);
      @include border-radius(3px);
    }
    
    &:hover {
  	  text-decoration: none;
      background: #000;
      background: rgba(0,0,0,.3); 
      @include border-radius(3px);
    }
  }
}

#player {
  padding: 20px;
  position: relative;
	margin: 0 auto;
	display: none;
}

#ytplayerid {
	height: 400px;
	width: 100%;
	background: #000;
	margin-bottom: 10px;
}
.mobile-ytplayerid {
  height: 250px !important;
}

#player-controls {
  margin-bottom: 20px;
}
#player-controls, #playlist {
  input, a.button {
    padding: 6px 12px;
    margin-right: 8px;
    font-size: 12px;
    font-weight:  normal;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    border: solid 1px #000; 
  }
}
#player-controls-right { 
  float: right;
  
  input {
    margin-left: 8px;
    margin-right: 0px;
  }
}

section {
  background: #000;
  background: rgba(0, 0, 0, .5);
  padding: 15px 20px;
  @include border-radius(5px);
  @include box-shadow(0 0 5px rgba(0,0,0,.5));
  border: solid 1px #000;
  margin-bottom: 20px;
}

#users-main p {
  margin-bottom: 15px;
}

.social { 
  max-width: 250px;
  overflow: hidden;
  position: fixed; 
  bottom: 10px; 
  left: 10px; 
  
  iframe {
    display: block; 
    margin-top: 10px
  }
}

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000; background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%); filter: Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.ui-dialog { box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -webkit-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); -moz-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.45); position: absolute; padding: .2em; width: 300px; overflow: hidden; padding: 10px; background: #efefef; @include border-radius(3px); }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin-bottom: 5px; height: 20px; width: 100%; font-size: 18px; color: #000; font-weight: bold; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 10px; font-style: italic; color: #000; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; color: #000; }
.ui-dialog .ui-dialog-content ul { list-style-type: none; }

#about-tubalr { display: none; }

.ui-dialog {
  input[type=button] {
    background: #464646;
    color: #fff;
  }
  
  a {
    color: #2667D4;
  }
}

#about-tubalr {
  p {
    display: block;
    margin-bottom: 15px;
    line-height: 16px;
    font-size: 12px;
  }
  
  h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

#playlists-main ul {
  list-style: none;
}
#playlists-main ul {
  margin-top: 20px;
}
#playlists-main ul li {
  font-size: 14px;
  display: inline-block;
  width: 244px;
  margin-bottom: 20px;
}

.why-register {
  float: right;
  
  ol {
    li {
      margin: 10px 20px;
    }
  }
}

#loading-playlist {
  display: none;
  height: 200px;
  margin-top: 80px;
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border: none;
  background: none;
  @include box-shadow(none);
}

#add-to-playlist-dropdown {
  width: 300px;
}

#create-new-playlist {
  display: none;
  
  #create-new-playlist-name {
    width: 150px;
  }
}

#echo {
  position: fixed;
  right: 10px;
  bottom: 10px;

  img {
    @include border-radius(5px);
    border: none;
  }
}

#current-video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  font-size: 12px;
}

#share-playlist {
  float: right;
  margin-top: -3px;
  
  span {
    margin-left: 15px;
    font-size: 16px;
    cursor: pointer;
  }
}