#youtube-player {
  display: none;
}

#loading {
  text-align: center;
  color: #d7d7d7;
}

#player {
  display: none;
  text-align: center;
  color: #d7d7d7;
}

#currently-playing {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 18px;
}

#play, #pause, #next, #previous {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;

  &#play {
    display: none;
  }
}
