@import "compass";

#loading {
  display: none;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

#empty-playlist {
  display: none;
  text-align: center;
}

#player {
  display: none;
}

#current-video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#video-and-playlist {
  margin-top: 20px;
  height: 460px;
}

#ytplayerid {
  width: 71%;
  height: 100%;
  float: left;
}

#playlist {
  width: 29%;
  height: 100%;
  float: left;
  overflow: auto;
  list-style-type: none;

  a {
    display: block;
  	padding: 10px 34px 10px 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      color: #3498DB
    }

    &:hover {
  	  text-decoration: none;
    }
  }

  li {
    position: relative;

    .icon-trash {
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    &:hover .icon-trash {
      display: block;
    }
  }
}

#player-controls {
  margin-top: 20px;
}

#player-controls-left, #player-controls-right {
  &#player-controls-left {
    float: left;
  }

  &#player-controls-right {
    float: right;

    .button {
      display: inline-block;
      background: none;
      border: none;
    }

    #share-on-twitter {
      background: #4099FF;
      color: #fff;
    }
  }
}
