@import "compass";

/* Profile Info */

#profile-info {
  margin-bottom: 25px;

  img {
    @include border-radius(3px);
  }

  img, h2 {
    float: left;
  }

  h2 {
    margin-left: 20px;
    margin-top: 15px;
  }

  #import-youtube-playlists-open-dialog {
    float: right;
    margin-top: 15px;
    font-size: 10px;
  }
}

/* Custom Playists Stuff */

#profile .playlists li {
  .custom-playlist-settings-open-dialog {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0;
    background: #548FF4;
    padding: 5px;
    @include border-radius(3px);
    cursor: pointer;
    color: #fff;
  }

  &:hover {
    .custom-playlist-settings-open-dialog {
      display: inline-block;
    }
  }
}

#custom-playlist-settings {
  h3 {
    margin-bottom: 10px;
  }

  #rename-playlist {
    #playlist-name {
      margin-right: 10px;
    }
  }

  #playlist-art {
    margin-top: 20px;

    p {
      margin-bottom: 10px;
    }

    #playlist-art-input {
      margin-right: 10px;
    }
  }

  #danger-zone {
    margin-top: 20px;

    p {
      margin-bottom: 10px;
    }
  }
}

/* Import Stuff */

#import-youtube-playlists-welcome {
  line-height: 33px;
}

#import-youtube-playlists-action {
  margin-top: 20px;
}

#import-youtube-playlists-username {
  margin-right: 10px;
}

#import-youtube-playlists-importing, #import-youtube-playlists-error {
  display: none;
  text-align: center;
}
