@import "compass";

#tabs {
  float: left;
  width: 20%;

  ul {
    list-style-type: none;
    font-size: 14px;

    li {
      width: 144px;
      margin-bottom: 15px;  
      padding: 10px 16px;
      border: solid 1px transparent;

      span {
        float: right;
      }

      a {
        text-decoration: none;

        &:visited {
          text-decoration:none;
          color: #fff;
        }
      }

      &:hover {
        border: solid 1px #000;
        background: rgba(0,0,0,.3);
        @include border-radius(3px);
        cursor: pointer;
      }

      &.active {
        color: #CFFFFF;
        border: solid 1px #000;
        background: rgba(0,0,0,.3);
        @include border-radius(3px);
        cursor: auto;
      }
    }
  }
}

#tabs-contents {
  float: right;
  width: 80%;
  
  .tab-content {
    display: none;  
    padding-left: 25px;

    &.active {
      display: block;
    }
  }
}