@import "compass";

#tabs {
  float: left;
  width: 20%;

  ul {
    list-style-type: none;
    font-size: 14px;

    li {
      width: 144px;
      margin-bottom: 15px;
      padding: 10px 16px;

      span {
        float: right;
      }

      a {
        text-decoration: none;
        color: #fff;

        &:visited {
          text-decoration:none;
          color: #fff;
        }
      }

      &:hover, &.active {
        background: #548FF4;
        cursor: pointer;
      }
    }
  }
}

#tabs-contents {
  float: right;
  width: 80%;

  .tab-content {
    display: none;
    padding-left: 25px;

    &.active {
      display: block;
    }
  }
}