@import "compass";

#tabs {
  position: absolute;
  width: 200px;

  ul {
    list-style-type: none;
    font-size: 14px;

    li {
      margin-bottom: 25px;

      span {
        float: right;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        cursor: default
      }

      &:hover, &.active {
        color: #3498DB;
      }
    }
  }
}

#tabs-contents {
  position: relative;
  margin-left: 200px;

  .tab-content {
    display: none;

    &.active {
      display: block;

    }

    .loading {
      height: 300px;
      line-height: 300px;
      text-align: center;
    }
  }
}

.playlists {
  list-style-type: none;

  li {
    display: inline-block; 
    width: 170px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.album-cover-list {
    display: none;
  }

  &.album-cover-list li {
    max-width: 175px;
    width: auto;
    margin: 0;
    margin-right: 28px;
    margin-bottom: 30px;

    .cover {
      width: 175px;
      height: 175px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    span {
      display: block;
      margin-top: 15px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
