@import "compass";

#users-main {
  #users-list {
    list-style-type: none;

    .user {
      display: inline-block;
      width: 49%;
      padding-bottom: 15px;
      margin-bottom: 15px;

      .profile-picture {
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 20px;
        @include border-radius(5px);
      }

      .info {
        .username {
          margin-bottom: 5px;
          font-size: 16px;
        }

        .favorite-genres {
          margin-bottom: 5px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .counts-and-follow {
          list-style-type: none;

          button {
            float: left;
            margin-right: 15px;
            padding: 6px;
            margin-top: 4px;

            span {
              display: none;
            }

            &:hover {
              &.follow {
                background: #00B078;

                .icon-ok {
                  display: inline-block;
                }

                .icon-plus {
                  display: none;
                }
              }

              &.unfollow {
                background: #BF2633;

                .icon-ok {
                  display: none;
                }

                .icon-minus {
                  display: inline-block;
                }
              }
            }

            &.follow {
              .icon-plus {
                display: inline-block;
              }
            }

            &.unfollow {
              background: #00B078;
              
              .icon-ok {
                display: inline-block;
              }
            }
          }

          li {
           display: inline-block;
           margin-right: 15px;
          }
          
          .count {
            display: block;
            font-weight: bold;
          }
        }  
      }
    }
  }
}