@import "compass";

#welcome-main-message, #welcome-overview, #welcome-sign-in {
  margin-top: 30px;
}

#welcome-main-message {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

#welcome-overview {
  text-align: center;
  
  div {
    float: left;
    width: 206px;
    padding: 20px;
    font-size: 14px;
    @include border-radius(3px);
    
    span {
      display: block;
      margin-bottom: 10px;
      font-size: 34px;
    }
  }
}

#welcome-sign-in {
  clear: both;
  padding-top: 60px;
  margin-bottom: 20px;
  line-height: 35px;
  text-align: center;
  
  #welcome-instructions {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;
  }
  
  a.button { 
    margin-right: 10px;
  }
  
  .twitter {
    background: #4099FF;
  }
  
  .facebook {
    background: #3B5999;
  }
}