<div id="custom-playlist-settings">
  <div id="rename-playlist">
    <h3>Rename Playlist</h3>
    <input type="text" name="playlist-name" id="playlist-name" value=""/>
    <input type="button" id="save-playlist-name" value="Save"/>
  </div>

  <div id="playlist-art">
    <h3>Playlist Art</h3>
    <p>
      Provide a url to associate with your playlist and we'll show it off!
    </p>
    <input type="text" name="playlist-art" id="playlist-art-input" value=""/>
    <input type="button" id="save-playlist-art" value="Save"/>
  </div>

  <div id="danger-zone">
    <h3>Danger Zone</h3>
    <p>
      Please note that when playlists are deleted, they are lost forever.
    </p>
    <input type="button" id="delete-playlist" value="Delete Playlist"/>
  </div>
</div>