<div id="import-youtube-playlists">
  Enter a YouTube username and click the "Import" button to have <b>ALL</b> the YouTube playlists imported for the given user!

  <div id="import-youtube-playlists-action">
    <form id="import-youtube-playlists-form">
      <input type="text" id="import-youtube-playlists-username" placeholder="YouTube Username"/>
      <input type="submit" id="import-youtube-playlists-submit" class="call-to-action" value="Import"/>
    </form>

    <div id="import-youtube-playlists-importing">
      Importing...<br/>
      Please don't refresh the page!
    </div>

    <div id="import-youtube-playlists-error">
      Error: Make sure the YouTube user has public playlists!
    </div>
  </div>
</div>