<section id="import-youtube-playlists-welcome">
  <b>NEW:</b> You can now import YouTube playlists, click the button to get started.

  <a id="import-youtube-playlists-open-dialog" class="button has-icon-left">
    <span class="icon-download-alt"></span>Import YouTube Playlists
  </a>
</section>

<div id="import-youtube-playlists">
  Enter a YouTube username and click the "Import" button to have <b>ALL</b> the YouTube playlists imported for the given user!

  <div id="import-youtube-playlists-action">
    <form id="import-youtube-playlists-form">
      <input type="text" id="import-youtube-playlists-username" placeholder="YouTube Username"/>
      <input type="submit" id="import-youtube-playlists-submit" value="Import"/>
    </form>

    <div id="import-youtube-playlists-importing">
      Importing...<br/>
      Please don't refresh the page!
    </div>
  </div>  
</div>