<section id='announcement' class='landing'>
  <span class='icon-bullhorn'></span> 
  I'm looking for music advocates for specific genres. If you're interested, find more info <a href='http://tubalr.tumblr.com/post/38490988323/looking-for-music-advocates-for-specific-genres' target='_blank'>here</a>.
</section>