<section class="landing">
  <h2>New: Watch youtube videos on tublar</h2>
  <p>To install bookmarklet, click and drag the button to your browser's Bookmarks Toolbar
    <a href="javascript:((function(){var a=window.location.search.split('v=')[1];var b=a.indexOf('&');if(b!=-1){a=a.substring(0,b)}window.location=' http://www.tubalr.com/video/'+a})())" class="bookmarklet button">Watch on tubalr</a>
  </p>    
</section> 