<div id="donate">
  <div id="donate-left">
    Like Tubalr? Keep it running by <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VLGMMSXGJVV56" target="_blank" class="donate-link">donating via PayPal</a>.
  </div>

  <div id="donate-right">
    <div id="donate-goal">
      <b><%= Date::MONTHNAMES[Date.today.month] %> Goal:</b> $20
      <b><%= Date::MONTHNAMES[Date.today.month] %> Donations:</b> $38.81
      <b>Total Donations:</b> $252.81
    </div>
  </div>

  <div class="clear"></div>
</div>
