<section id="explore-main" class="remove-when-searching">
  <h2>
    User Generated Genres
  </h2>
  
  <ul class="explore-list">
    <li><a href="/TheTrueLion/playlist/Mellow%20and%20Dark%20Dubstep">Mellow/Dark Dubstep</a></li>
    <li><a href="/zack/playlist/Indie">Indie</a></li>
    <li><a href="/seriosbrad/playlist/Metal">Metal</a></li>
    <li><a href="/offline/playlist/Old%20School%20Hip%20Hop">Old School Hip Hop</a></li>
    <li><a href="/Goldn/playlist/Dubstep">Dubstep</a></li>
    <li><a href="/123danny4567/playlist/EDM">Electronic Dance Music</a></li>
  </ul>

  <h2>
    Reddit Generated Playlists
  </h2>

  <ul class="explore-list">
    <li><a href="/r/music">/r/Music</a></li>
    <li><a href="/r/ListenToThis">/r/ListenToThis</a></li>
    <li><a href="/r/HipHopHeads">/r/HipHopHeads</a></li>
    <li><a href="/r/powermetal">/r/powermetal</a></li>
    <li><a href="/r/70s">/r/70s</a></li>
    <li><a href="/r/jazz">/r/jazz</a></li>
    <li><a href="/r/DnB">/r/DnB</a></li>
    <li><a href="/r/Trance">/r/Trance</a></li>
    <li><a href="/r/mashups">/r/mashups</a></li>
    <li><a href="/r/Alternativerock">/r/AlternativeRock</a></li>
    <li><a href="/r/90sRock">/r/90sRock</a></li>
    <li><a href="/explore#reddit"><span class="icon-plus"></span> More...</a></li>
  </ul>

  <h2>Top Genres</h2>

  <ul class="explore-list">
    <li><a href='/just/rock'>rock</a></li>
    <li><a href='/just/electronic'>electronic</a></li>
    <li><a href='/just/hip hop'>hip hop</a></li>
    <li><a href='/just/pop rock'>pop rock</a></li>
    <li><a href='/just/indie rock'>indie rock</a></li>
    <li><a href='/just/jazz'>jazz</a></li>
    <li><a href='/just/techno'>techno</a></li>
    <li><a href='/just/hard rock'>hard rock</a></li>
    <li><a href='/just/electro'>electro</a></li>
    <li><a href='/just/disco'>disco</a></li>
    <li><a href='/just/heavy metal'>heavy metal</a></li>
    <li><a href='/just/trance'>trance</a></li>
    <li><a href='/just/alternative rock'>alternative rock</a></li>
    <li><a href='/just/pop'>pop</a></li>
    <li><a href='/just/downtempo'>downtempo</a></li>
    <li><a href='/just/new wave'>new wave</a></li>
    <li><a href='/just/reggae'>reggae</a></li>
    <li><a href='/just/folk rock'>folk rock</a></li>
    <li><a href='/just/funk'>funk</a></li>
    <li><a href='/just/dance pop'>dance pop</a></li>
    <li><a href='/just/soft rock'>soft rock</a></li>
    <li><a href='/just/classic rock'>classic rock</a></li>
    <li><a href='/just/dub'>dub</a></li>
    <li><a href='/just/tech house'>tech house</a></li>
    <li><a href='/just/deep house'>deep house</a></li>
    <li><a href='/just/progressive house'>progressive house</a></li>
    <li><a href='/just/rap'>rap</a></li>
    <li><a href='/just/progressive trance'>progressive trance</a></li>
    <li><a href='/just/art rock'>art rock</a></li>
    <li><a href='/just/breakbeat'>breakbeat</a></li>
    <li><a href='/just/singer-songwriter'>singer-songwriter</a></li>
    <li><a href='/just/indie pop'>indie pop</a></li>
    <li><a href='/just/easy listening'>easy listening</a></li>
    <li><a href='/just/experimental'>experimental</a></li>
    <li><a href='/just/country rock'>country rock</a></li>
    <li><a href='/just/blues'>blues</a></li>
    <li><a href='/just/gangster rap'>gangster rap</a></li>
    <li><a href='/just/punk'>punk</a></li>
    <li><a href='/just/pop rap'>pop rap</a></li>
    <li><a href='/just/blues-rock'>blues-rock</a></li>
    <li><a href="/explore#genres"><span class="icon-plus"></span> More...</a></li>
  </ul>
</section>