<section id="explore-main" class="remove-when-searching">
  <h2>
    User Generated Genres
  </h2>
  
  <ul class="explore-list">
    <li><a href="/TheTrueLion/playlist/Mellow%20and%20Dark%20Dubstep">Mellow and Dark Dubstep</a></li>
    <li><a href="/zack/playlist/Indie">Indie</a></li>
    <li><a href="/seriosbrad/playlist/Metal">Metal</a></li>
    <li><a href="/offline/playlist/Old%20School%20Hip%20Hop">Old School Hip Hop</a></li>
    <li><a href="/Goldn/playlist/Dubstep">Dubstep</a></li>
    <li><a href="/123danny4567/playlist/EDM">Electronic Dance Music</a></li>
  </ul>

  <h2>
    Reddit Generated Playlists
  </h2>
  <ul class="explore-list">
    <li><a href="/r/music">/r/Music</a></li>
    <li><a href="/r/ListenToThis">/r/ListenToThis</a></li>
    <li><a href="/r/HipHopHeads">/r/HipHopHeads</a></li>
    <li><a href="/r/powermetal">/r/powermetal</a></li>
    <li><a href="/r/70s">/r/70s</a></li>
    <li><a href="/r/jazz">/r/jazz</a></li>
    <li><a href="/r/DnB">/r/DnB</a></li>
    <li><a href="/r/Trance">/r/Trance</a></li>
    <li><a href="/r/mashups">/r/mashups</a></li>
    <li><a href="/r/Alternativerock">/r/AlternativeRock</a></li>
    <li><a href="/r/90sRock">/r/90sRock</a></li>
    <li><a href="/r"><span class="icon-plus"></span> More...</a></li>
  <ul>
</section>