<section id="explore-main" class="landing">
  <h2>Top Genres <span>Want to have your playlist featured as a genre, find more info <a href='http://tubalr.tumblr.com/post/38490988323/looking-for-music-advocates-for-specific-genres' target='_blank'>here</a>.</span></h2>
  <ul id="explore-list">
    <li>
      <a href="/seriosbrad/playlist/Metal">Metal</a>
    </li>

    <li>
      <a href="/offline/playlist/Old%20School%20Hip%20Hop">Old School Hip Hop</a>
    </li>

    <li>
      <a href="/Goldn/playlist/Dubstep">Dubstep</a>
    </li>

    <li>
      <a href="/TheTrueLion/playlist/Mellow%20and%20Dark%20Dubstep">Mellow and Dark Dubstep</a>
    </li>

    <li>
      <a href="/123danny4567/playlist/EDM">Electronic Dance Music</a>
    </li>
  </ul>
</section>