<section id="explore-main" class="landing">
  <div class="explore-pannel">
    <div class="explore-pannel-art">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/1.jpg">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/2.jpg">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/3.jpg">
    </div>

    <h4 class="explore-pannel-title">indie</h4>
  </div>
  <div class="explore-pannel">
    <div class="explore-pannel-art">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/1.jpg">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/2.jpg">
      <img src="http://img.youtube.com/vi/gPnFnobccfI/3.jpg">
    </div>

    <h4 class="explore-pannel-title">indie</h4>
  </div>
</section>