<aside class="social">
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Tubalr/154359441249128&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
  <a href="https://twitter.com/tubalr" class="twitter-follow-button" data-show-count="true">Follow @tubalr</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>

<a id="echo" href="http://the.echonest.com/" target="_blank"><img src="/assets/echo.gif" width="60" height="50"/></a>

<div id="about-tubalr">
  <p>
    Pronounced: tuba-ler
  </p>

  <h3>Reddit</h3>
  <p>
    Have feedback, feature requests, or bugs? Want to share a custom playlist or whatever else you may think of? Head on over to <a href="http://www.reddit.com/r/tubalr" target="_blank">/r/tubalr</a>.
  <p>

  <h3>Blog</h3>
  <p>
    Checkout Tubalr's <%= link_to('blog', 'http://www.tubalr.tumblr.com/', :target => '_blank') %> for updates.
  </p>

  <h3>GitHub</h3>
  <p>
    Tubalr's full source can be found on <a href="https://github.com/cjstewart88/tubalr" target="_blank">github</a>,
    feel free to send a PR or submit an issue!
  </p>

  <h3>Why?</h3>
  <p>
    Tubalr is an app that was crafted out of curiosity and passion, Sept 12th 2010. I
    released it into the wild and have been iterating ever since. I built Tubalr because
    I kept running across great high quality videos wishing I had a simple app to play those
    videos back to back, while working or doing other things.
  </p>

  <p>
    I mentioned that I've been tweaking Tubalr since its creation, and thats largely due to
    the amazing feedback and support given by its supporters and users. So with that said, if
    you have ANY feedback or just wanna chat... please shoot an e-mail to
    <a href='mailto:listen.to.tubalr@gmail.com'>listen.to.tubalr@gmail.com</a>.
  </p>

  <h3>Who builds it?</h3>
  <p>
    Me, <a href="http://www.twitter.com/codyjackstewart" target="_blank">Cody Stewart</a>, I'm the
    founder and crafter of Tubalr. There's also been open source contributions via <a href="https://github.com/cjstewart88/Tubalr/contributors" target="_blank">github</a>.
  </p>

  <h3>Donate</h3>
  <p>
    Tubalr is run with time, effort, and care... and will continue to, as long as there is interest
    and support behind the idea. Regardless of monetary backing, Tubalr will continue to run as long as it can.
  </p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="VLGMMSXGJVV56">
    <input type="submit" value="Donate">
  </form>
</div>