<div id="about-tubalr">
  <p>
    Tubalr, pronounced "tuba-ler", is an app that was crafted out of curiosity and passion, Sept 12th 2010. I
    released it into the wild and have been iterating ever since. I built Tubalr because
    I kept running across great high quality videos wishing I had a simple app to play those
    videos back to back, while working or doing other things.
  </p>

  <p>
    I mentioned that I've been tweaking Tubalr since its creation, and thats largely due to
    the amazing feedback and support given by its supporters and users. So with that said, if
    you have ANY feedback or just wanna chat... please shoot an e-mail to
    <a href='mailto:listen.to.tubalr@gmail.com'>listen.to.tubalr@gmail.com</a>.
  </p>

  <p>
    So who builds Tubalr? Me, <a href="http://www.twitter.com/codyjackstewart" target="_blank">Cody Stewart</a>, I'm the
    founder and crafter of Tubalr. Some <a href="https://github.com/cjstewart88/Tubalr/contributors" target="_blank">awesome people</a> have also pitched in along the way.
  </p>

  <h3>Donate</h3>
  <p>
    Tubalr is run with time, effort, and care... and will continue to, as long as there is interest
    and support behind the idea. Regardless of monetary backing, Tubalr will continue to run as long as it can.


    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="VLGMMSXGJVV56">
      <input type="submit" value="Donate">
    </form>
  </p>

  <h3>Around the Web</h3>
  <p id="social">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Tubalr/154359441249128&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
    <a href="https://twitter.com/tubalr" class="twitter-follow-button" data-show-count="true">Follow @tubalr</a>
    <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="153" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=tubalr&color_scheme=light"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=cjstewart88&repo=tubalr&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" height="20"></iframe>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <a href="http://www.reddit.com/r/tubalr" target="_blank">/r/tubalr</a>
  </p>
</div>