<div id="about-tubalr">
  <p>
    Tubalr, pronounced "tuba-ler", is an app that was crafted out of curiosity and passion, Sept 12th 2010. I
    released it into the wild and have been iterating ever since. I built Tubalr because
    I kept running across great high quality videos wishing I had a simple app to play those
    videos back to back, while working or doing other things.
  </p>

  <p>
    I mentioned that I've been tweaking Tubalr since its creation, and thats largely due to
    the amazing feedback and support given by its supporters and users. So with that said, if
    you have ANY feedback or just wanna chat... please shoot an e-mail to
    <a href='mailto:listen.to.tubalr@gmail.com'>listen.to.tubalr@gmail.com</a>.
  </p>

  <p>
    So who builds Tubalr? Me, <a href="http://www.twitter.com/codyjackstewart" target="_blank">Cody Stewart</a>, I'm the
    founder and crafter of Tubalr. Some <a href="https://github.com/cjstewart88/Tubalr/contributors" target="_blank">awesome people</a> have also pitched in along the way.
  </p>
</div>
