<header id="header">
  <h1 id="logo">
    <a href='/' class="tooltip" original-title="Pronounced: tuba-ler">tubalr</a>
  </h1>

  <nav id="main-nav">
    <% if !user_signed_in? %>
      <%= link_to('Sign Up', '/users/sign_up', :class => 'button small sign-up') %>
      <%= link_to('Sign In', '/users/sign_in') %>
    <% else %>
      <div href="#" id="main-nav-dropdown">
        <img src="http://www.gravatar.com/avatar/<%= current_user.md5_email || 'false' %>?s=24">
        <i class="icon-angle-down"></i>
        <div id="main-nav-dropdown-menu">
          <% if user_signed_in? %>
            <a href="<%= "/#{current_user.username}/profile" %>" id="profile-badge">Your Playlists</a>
            <a href="/users/edit">Settings</a>
            <a href="/users/sign_out" data-method="delete" rel="nofollow">Sign Out</a>
          <% end %>
        </div>
      </div>
    <% end %>
  </nav>
</header>
<div class="clear"></div>