<section id="loading-playlist">Loading...</section>

<section id="empty-playlist">o_O This playlist has 0 videos... this is kinda weird.</section>

<section id="player">
  <aside id="share-playlist">
    <span id="share-on-twitter" class="icon-twitter tooltip" original-title="Share on twitter."></span>
    <span id="share-on-facebook" class="icon-facebook tooltip" original-title="Share on facebook."></span>
  </aside>

  <h2 id="current-video-title"></h2>

  <div id="video-and-playlist">
    <div id="ytplayerid"></div> 

    <ul id="playlist"></ul>
  </div>

  <div id="player-controls">
    <div id="player-controls-right">
      <a href="#" class="shuffle button tooltip" original-title="Shuffle"><span class="icon-random"></span></a>
      <a href="#" id="previous" class="button tooltip" original-title="Previous">&nbsp;<span class="icon-step-backward"></span></a>
      <a href="#" id="next" class="button tooltip" original-title="Next"><span class="icon-step-forward"></span>&nbsp;</a>
    </div>
    
    <div id="player-controls-left">
      <input type="button" id="remove-video" value="Remove" class="tooltip" original-title="Remove the current video from your playlist. If you're logged in it will never play again!"/>
      <% if user_signed_in? %>
        <%= select_tag "add-to-playlist-dropdown", options_for_select([[nil, nil],['(+) Create New Playlist', 'new']] + current_user.playlists.map{ | p | [p.playlist_name, p.id, { "data-test" => "derp" }]}), { "data-placeholder" => "Add to Playlist" } %>       
        <span id="create-new-playlist">
          <input type="text"    id="create-new-playlist-name"   placeholder="Enter New Playlist Name..."/>
          <input type="button"  id="create-new-playlist-submit" value="Create"/>
          <input type="button"  id="create-new-playlist-cancel" value="Cancel"/>
        </span>
      <% end %>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  Playlist.init(<%= search_options %> );
<% end if request.path.index("/similar/") || request.path.index("/video/") || request.path.index("/r/") ||
          request.path.index("/genre/")  || request.path.index("/just/") || @playlist_name %>