<section id="loading-playlist">Loading...</section>

<section id="empty-playlist">o_O This playlist has 0 videos... this is kinda weird.</section>

<section id="player">
  <div id="ytplayerid"></div> 
  
  <div id="player-controls">
    <div id="player-controls-right">
      <input type="button" id="previous" value="&#8249; Prev"/>
      <input type="button" id="next" value="Next &#8250;"/>
    </div>
    
    <div id="player-controls-left">
      <input type="button" id="remove-video" value="Remove" class="tooltip" original-title="Remove the current video from your playlist. If you're logged in it will never play again!"/>
      <% if user_signed_in? %>
        <%= select_tag "add-to-playlist-dropdown", options_for_select([[nil, nil],['(+) Create New Playlist', 'new']] + current_user.playlists.map{ | p | [p.playlist_name, p.id, { "data-test" => "derp" }]}), { "data-placeholder" => "Add to Playlist" } %>       
        <span id="create-new-playlist">
          <input type="text"    id="create-new-playlist-name"   placeholder="Enter New Playlist Name..."/>
          <input type="button"  id="create-new-playlist-submit" value="Create"/>
          <input type="button"  id="create-new-playlist-cancel" value="Cancel"/>
        </span>
      <% end %>
    </div>
  </div>
  
  <section id="playlist"></section>
</section>

<%= javascript_tag do %>
  Playlist.init(<%= search_options %> );
<% end if request.path.index("similar") || request.path.index("video") || 
          request.path.index("genre")  || request.path.index("just") || @playlist_name %>