<section class="welcome remove-when-searching">
  <div class="col">
    <% if user_signed_in? %>
      <p>
        You can now import YouTube playlists. It works for any YouTube user, meaning... you can save your favorite DJs playlists to your Tubalr account for safe keeping and future enjoyment!
      </p>

      <a href="/<%= current_user.username %>/profile" class="button has-icon-left"><span class="icon-download-alt"></span>Get Started</a>
    <% else %>
      <p>
       Tubalr is a simple way to enjoy all the great music content on YouTube. Start by browsing below or searching for an artist/band above. Sign up to create custom playlists while you're at it.
      </p>

      <a href="/users/sign_up" class="button has-icon-left"><span class="icon-flag"></span>Sign Up</a>
    <% end%>
  </div>

  <div class="col">
    <p>
      Tubalr is run with time, effort, and care... and will continue to, as long as there is interest and support behind the idea. If you like what you see and want to see it continue, check out the support page.
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="VLGMMSXGJVV56">
      <button class="has-icon-left button"><span class="icon-heart"></span> Donate</button>
    </form>
  </div>

  <div class="clear"></div>
</section>