<section id="welcome" class="landing">
  <div id="welcome-main-message">
    A new way to experience music.
  </div>

  <div id="welcome-overview">
    <div>
      <span class="icon-music"></span>
      Enjoy just the music content YouTube has to offer, leave the rest behind.
    </div> 

    <div>
      <span class="icon-list"></span>
      Create custom playlists, making sure your favorite videos are at your every need.
    </div>

    <div>
      <span class="icon-share-alt"></span>
      Share your custom playlists or searches, everyone deserves the experience! 
    </div>
  </div>

  <div id="welcome-sign-in">
    <div id="welcome-instructions">
      Get started by searching above. If you're interested in creating account, please 
      register below, or login if you already have one!
    </div>
    <%= link_to('Register', '/users/sign_up', :class => 'sign-up-link button') %> 
    <%= link_to('Login', '/users/sign_in', :class => 'sign-in-link button') %>
  </div>
</section>