<section  id="playlists-main" class="remove-when-searching">
  <h2><a href="<%= "/#{current_user.username}/playlists" %>"><span class="icon-download-alt"></span> Import From YouTube</a> Your Playlists</h2>

  <% if current_user.playlists.count != 0 %>
    <ul>
      <% current_user.playlists.each do | playlist | %>
        <li>
          <a href="<%= "/#{current_user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>"><%= playlist.playlist_name %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
    Looks like you currently have 0 playlists, starting using tubalr and click the 
    playlist dropdown under the video player to get started!
  <% end %>
</section>