<section class="remove-when-searching">
  <h3>All Genres</h3>
  <ul class="playlists">
    <% GENRES.each do | genre | %>
      <li><a href='/just/<%= genre %>'><%= genre %></a></li>
    <% end %>
  </ul>
</section>
