<p id="intro">
  The genres below are currated by <a href="http://the.echonest.com/" target="_blank">echonest</a>.
</p>

<div id="content">
  <ul>
    <% GENRES.each do | genre | %>
      <li><a href='/genres/<%= genre.parameterize %>'><%= genre %></a></li>
    <% end %>
  </ul>
</div>
