<section id="about">
  <span>WHAT IS THIS AND WHY'S IT SO AWESOME?</span>
  <p>
    Tubalr allows you to effortlessly and quickly listen to a band's or artist's top YouTube videos without
    all the clutter YouTube brings. To get started just type an artist's name into the search box and select
    similar artist or just this artist.
  </p>
</section>

<section id="player">
	<nav> 
		<a href="#" onClick="nextSong()" id="next">NEXT</a> 
		<a href="#" onClick="previousSong()" id="prev">PREVIOUS</a> 
	</nav> 
	<span id="currentVideoTitle"></span><br/> 
	<div id="ytplayerid"></div> 
</section>

<% if @playlist_id %>
  <script type="text/javascript">
    playlist(<%= @playlist_id %>);
  </script>
  <section id="playlist-stuff" style="width: 975px; margin: 0 auto; text-align: right; display: none;">
    <span class="add-to-playlist" playlist-id="<%= @playlist_id %>" style="cursor: pointer;">Add Current Song to Playlist</span>
    <span class="listen-to-playlist" playlist-id="<%= @playlist_id %>" style="cursor: pointer;">Listen to Playlist</span>
  </section>
<% end %>