<div id="youtube-player"></div>

<script>
  <% if @genre %>
    Playlist.init({
      genre: '<%= @genre %>'
    });
  <% end %>

  <% if @subreddit %>
    Playlist.init({
      subreddit: '<%= @subreddit %>'
    });
  <% end %>
</script>

<p id="intro">
  Your currently listening to <%= @genre || "/r/#{@subreddit}" %>, enjoy!
</p>

<div id="loading">
  Loading...
</div>

<div id="player">
  <h1 id="currently-playing"></h1>
  <i id="previous" class="fa fa-step-backward"></i>
  <i id="play" class="fa fa-play"></i>
  <i id="pause" class="fa fa-pause"></i>
  <i id="next" class="fa fa-step-forward"></i>
</div>
