<div id="explore">
  <section id="trending-artists">
    <h2>trending artists</h2>
    <ul id="trending-artists-list" class="loading-list"></ul>
    <script>$('#trending-artists-list').trendingArtists({ limit: 40, font_page: false });</script>
  </section>
  
  <section id="top-genres">
    <h2>top genres</h2>
    <ul id="top-genres-list" class="loading-list"></ul>
    <script>$('#top-genres-list').topGenres({ limit: 40, font_page: false });</script>
  </section>
</div>