<section id="genres-main">
  <h2>
    Genres
  </h2>
  
  <p><i>NOTE:</i> the following "genres" and information are curated from <a href='http://last.fm/' target='_blank'>Last.FM</a></p>
  
  <ul>
    <li><a href='/genre/rock' target='_blank'>rock</a><br/><i>about</i></li>
    <li><a href='/genre/seen+live' target='_blank'>seen live</a><br/><i>about</i></li>
    <li><a href='/genre/alternative' target='_blank'>alternative</a><br/><i>about</i></li>
    <li><a href='/genre/indie' target='_blank'>indie</a><br/><i>about</i></li>
    <li><a href='/genre/electronic' target='_blank'>electronic</a><br/><i>about</i></li>
    <li><a href='/genre/pop' target='_blank'>pop</a><br/><i>about</i></li>
    <li><a href='/genre/metal' target='_blank'>metal</a><br/><i>about</i></li>
    <li><a href='/genre/female+vocalists' target='_blank'>female vocalists</a><br/><i>about</i></li>
    <li><a href='/genre/classic+rock' target='_blank'>classic rock</a><br/><i>about</i></li>
    <li><a href='/genre/alternative+rock' target='_blank'>alternative rock</a><br/><i>about</i></li>
    <li><a href='/genre/jazz' target='_blank'>jazz</a><br/><i>about</i></li>
    <li><a href='/genre/punk' target='_blank'>punk</a><br/><i>about</i></li>
    <li><a href='/genre/indie+rock' target='_blank'>indie rock</a><br/><i>about</i></li>
    <li><a href='/genre/folk' target='_blank'>folk</a><br/><i>about</i></li>
    <li><a href='/genre/ambient' target='_blank'>ambient</a><br/><i>about</i></li>
    <li><a href='/genre/singer-songwriter' target='_blank'>singer-songwriter</a><br/><i>about</i></li>
    <li><a href='/genre/experimental' target='_blank'>experimental</a><br/><i>about</i></li>
    <li><a href='/genre/electronica' target='_blank'>electronica</a><br/><i>about</i></li>
    <li><a href='/genre/hard+rock' target='_blank'>hard rock</a><br/><i>about</i></li>
    <li><a href='/genre/hip-hop' target='_blank'>hip-hop</a><br/><i>about</i></li>
    <li><a href='/genre/80s' target='_blank'>80s</a><br/><i>about</i></li>
    <li><a href='/genre/dance' target='_blank'>dance</a><br/><i>about</i></li>
    <li><a href='/genre/hardcore' target='_blank'>hardcore</a><br/><i>about</i></li>
    <li><a href='/genre/black+metal' target='_blank'>black metal</a><br/><i>about</i></li>
    <li><a href='/genre/chillout' target='_blank'>chillout</a><br/><i>about</i></li>
    <li><a href='/genre/progressive+rock' target='_blank'>progressive rock</a><br/><i>about</i></li>
    <li><a href='/genre/death+metal' target='_blank'>death metal</a><br/><i>about</i></li>
    <li><a href='/genre/instrumental' target='_blank'>instrumental</a><br/><i>about</i></li>
    <li><a href='/genre/heavy+metal' target='_blank'>heavy metal</a><br/><i>about</i></li>
    <li><a href='/genre/british' target='_blank'>british</a><br/><i>about</i></li>
    <li><a href='/genre/punk+rock' target='_blank'>punk rock</a><br/><i>about</i></li>
    <li><a href='/genre/soundtrack' target='_blank'>soundtrack</a><br/><i>about</i></li>
    <li><a href='/genre/industrial' target='_blank'>industrial</a><br/><i>about</i></li>
    <li><a href='/genre/soul' target='_blank'>soul</a><br/><i>about</i></li>
    <li><a href='/genre/blues' target='_blank'>blues</a><br/><i>about</i></li>
    <li><a href='/genre/classical' target='_blank'>classical</a><br/><i>about</i></li>
    <li><a href='/genre/emo' target='_blank'>emo</a><br/><i>about</i></li>
    <li><a href='/genre/rap' target='_blank'>rap</a><br/><i>about</i></li>
    <li><a href='/genre/90s' target='_blank'>90s</a><br/><i>about</i></li>
    <li><a href='/genre/thrash+metal' target='_blank'>thrash metal</a><br/><i>about</i></li>
    <li><a href='/genre/metalcore' target='_blank'>metalcore</a><br/><i>about</i></li>
    <li><a href='/genre/trance' target='_blank'>trance</a><br/><i>about</i></li>
    <li><a href='/genre/japanese' target='_blank'>japanese</a><br/><i>about</i></li>
    <li><a href='/genre/favorites' target='_blank'>favorites</a><br/><i>about</i></li>
    <li><a href='/genre/reggae' target='_blank'>reggae</a><br/><i>about</i></li>
    <li><a href='/genre/acoustic' target='_blank'>acoustic</a><br/><i>about</i></li>
    <li><a href='/genre/country' target='_blank'>country</a><br/><i>about</i></li>
    <li><a href='/genre/progressive+metal' target='_blank'>progressive metal</a><br/><i>about</i></li>
    <li><a href='/genre/trip-hop' target='_blank'>trip-hop</a><br/><i>about</i></li>
    <li><a href='/genre/hip+hop' target='_blank'>hip hop</a><br/><i>about</i></li>
    <li><a href='/genre/power+metal' target='_blank'>power metal</a><br/><i>about</i></li>
    <li><a href='/genre/funk' target='_blank'>funk</a><br/><i>about</i></li>
    <li><a href='/genre/psychedelic' target='_blank'>psychedelic</a><br/><i>about</i></li>
    <li><a href='/genre/melodic+death+metal' target='_blank'>melodic death metal</a><br/><i>about</i></li>
    <li><a href='/genre/new+wave' target='_blank'>new wave</a><br/><i>about</i></li>
    <li><a href='/genre/post-rock' target='_blank'>post-rock</a><br/><i>about</i></li>
    <li><a href='/genre/electro' target='_blank'>electro</a><br/><i>about</i></li>
    <li><a href='/genre/house' target='_blank'>house</a><br/><i>about</i></li>
    <li><a href='/genre/indie+pop' target='_blank'>indie pop</a><br/><i>about</i></li>
    <li><a href='/genre/techno' target='_blank'>techno</a><br/><i>about</i></li>
    <li><a href='/genre/german' target='_blank'>german</a><br/><i>about</i></li>
    <li><a href='/genre/love' target='_blank'>love</a><br/><i>about</i></li>
    <li><a href='/genre/70s' target='_blank'>70s</a><br/><i>about</i></li>
    <li><a href='/genre/rnb' target='_blank'>rnb</a><br/><i>about</i></li>
    <li><a href='/genre/britpop' target='_blank'>britpop</a><br/><i>about</i></li>
    <li><a href='/genre/american' target='_blank'>american</a><br/><i>about</i></li>
    <li><a href='/genre/gothic+metal' target='_blank'>gothic metal</a><br/><i>about</i></li>
    <li><a href='/genre/downtempo' target='_blank'>downtempo</a><br/><i>about</i></li>
    <li><a href='/genre/piano' target='_blank'>piano</a><br/><i>about</i></li>
    <li><a href='/genre/60s' target='_blank'>60s</a><br/><i>about</i></li>
    <li><a href='/genre/00s' target='_blank'>00s</a><br/><i>about</i></li>
    <li><a href='/genre/grunge' target='_blank'>grunge</a><br/><i>about</i></li>
    <li><a href='/genre/post-punk' target='_blank'>post-punk</a><br/><i>about</i></li>
    <li><a href='/genre/albums+i+own' target='_blank'>albums i own</a><br/><i>about</i></li>
    <li><a href='/genre/beautiful' target='_blank'>beautiful</a><br/><i>about</i></li>
    <li><a href='/genre/ska' target='_blank'>ska</a><br/><i>about</i></li>
    <li><a href='/genre/gothic' target='_blank'>gothic</a><br/><i>about</i></li>
    <li><a href='/genre/screamo' target='_blank'>screamo</a><br/><i>about</i></li>
    <li><a href='/genre/mellow' target='_blank'>mellow</a><br/><i>about</i></li>
    <li><a href='/genre/chill' target='_blank'>chill</a><br/><i>about</i></li>
    <li><a href='/genre/doom+metal' target='_blank'>doom metal</a><br/><i>about</i></li>
    <li><a href='/genre/french' target='_blank'>french</a><br/><i>about</i></li>
    <li><a href='/genre/guitar' target='_blank'>guitar</a><br/><i>about</i></li>
    <li><a href='/genre/oldies' target='_blank'>oldies</a><br/><i>about</i></li>
    <li><a href='/genre/idm' target='_blank'>idm</a><br/><i>about</i></li>
    <li><a href='/genre/swedish' target='_blank'>swedish</a><br/><i>about</i></li>
    <li><a href='/genre/male+vocalists' target='_blank'>male vocalists</a><br/><i>about</i></li>
    <li><a href='/genre/awesome' target='_blank'>awesome</a><br/><i>about</i></li>
    <li><a href='/genre/j-rock' target='_blank'>j-rock</a><br/><i>about</i></li>
    <li><a href='/genre/nu+metal' target='_blank'>nu metal</a><br/><i>about</i></li>
    <li><a href='/genre/symphonic+metal' target='_blank'>symphonic metal</a><br/><i>about</i></li>
    <li><a href='/genre/finnish' target='_blank'>finnish</a><br/><i>about</i></li>
    <li><a href='/genre/lounge' target='_blank'>lounge</a><br/><i>about</i></li>
    <li><a href='/genre/polish' target='_blank'>polish</a><br/><i>about</i></li>
    <li><a href='/genre/female+vocalist' target='_blank'>female vocalist</a><br/><i>about</i></li>
    <li><a href='/genre/grindcore' target='_blank'>grindcore</a><br/><i>about</i></li>
    <li><a href='/genre/progressive' target='_blank'>progressive</a><br/><i>about</i></li>
    <li><a href='/genre/folk+metal' target='_blank'>folk metal</a><br/><i>about</i></li>
    <li><a href='/genre/canadian' target='_blank'>canadian</a><br/><i>about</i></li>
    <li><a href='/genre/post-hardcore' target='_blank'>post-hardcore</a><br/><i>about</i></li>
    <li><a href='/genre/world' target='_blank'>world</a><br/><i>about</i></li>
    <li><a href='/genre/drum+and+bass' target='_blank'>drum and bass</a><br/><i>about</i></li>
    <li><a href='/genre/synthpop' target='_blank'>synthpop</a><br/><i>about</i></li>
    <li><a href='/genre/j-pop' target='_blank'>j-pop</a><br/><i>about</i></li>
    <li><a href='/genre/new+age' target='_blank'>new age</a><br/><i>about</i></li>
    <li><a href='/genre/minimal' target='_blank'>minimal</a><br/><i>about</i></li>
    <li><a href='/genre/favourites' target='_blank'>favourites</a><br/><i>about</i></li>
    <li><a href='/genre/ebm' target='_blank'>ebm</a><br/><i>about</i></li>
    <li><a href='/genre/russian' target='_blank'>russian</a><br/><i>about</i></li>
    <li><a href='/genre/pop+rock' target='_blank'>pop rock</a><br/><i>about</i></li>
    <li><a href='/genre/cover' target='_blank'>cover</a><br/><i>about</i></li>
    <li><a href='/genre/pop+punk' target='_blank'>pop punk</a><br/><i>about</i></li>
    <li><a href='/genre/latin' target='_blank'>latin</a><br/><i>about</i></li>
    <li><a href='/genre/darkwave' target='_blank'>darkwave</a><br/><i>about</i></li>
    <li><a href='/genre/favorite' target='_blank'>favorite</a><br/><i>about</i></li>
    <li><a href='/genre/female' target='_blank'>female</a><br/><i>about</i></li>
    <li><a href='/genre/dark+ambient' target='_blank'>dark ambient</a><br/><i>about</i></li>
    <li><a href='/genre/noise' target='_blank'>noise</a><br/><i>about</i></li>
    <li><a href='/genre/industrial+metal' target='_blank'>industrial metal</a><br/><i>about</i></li>
    <li><a href='/genre/avant-garde' target='_blank'>avant-garde</a><br/><i>about</i></li>
    <li><a href='/genre/psychedelic+rock' target='_blank'>psychedelic rock</a><br/><i>about</i></li>
    <li><a href='/genre/brutal+death+metal' target='_blank'>brutal death metal</a><br/><i>about</i></li>
    <li><a href='/genre/dub' target='_blank'>dub</a><br/><i>about</i></li>
    <li><a href='/genre/disco' target='_blank'>disco</a><br/><i>about</i></li>
    <li><a href='/genre/gothic+rock' target='_blank'>gothic rock</a><br/><i>about</i></li>
    <li><a href='/genre/celtic' target='_blank'>celtic</a><br/><i>about</i></li>
    <li><a href='/genre/sexy' target='_blank'>sexy</a><br/><i>about</i></li>
    <li><a href='/genre/easy+listening' target='_blank'>easy listening</a><br/><i>about</i></li>
    <li><a href='/genre/alternative+metal' target='_blank'>alternative metal</a><br/><i>about</i></li>
    <li><a href='/genre/anime' target='_blank'>anime</a><br/><i>about</i></li>
    <li><a href='/genre/christian' target='_blank'>christian</a><br/><i>about</i></li>
    <li><a href='/genre/blues+rock' target='_blank'>blues rock</a><br/><i>about</i></li>
    <li><a href='/genre/cool' target='_blank'>cool</a><br/><i>about</i></li>
    <li><a href='/genre/favourite' target='_blank'>favourite</a><br/><i>about</i></li>
    <li><a href='/genre/classic' target='_blank'>classic</a><br/><i>about</i></li>
    <li><a href='/genre/shoegaze' target='_blank'>shoegaze</a><br/><i>about</i></li>
    <li><a href='/genre/heard+on+pandora' target='_blank'>heard on pandora</a><br/><i>about</i></li>
    <li><a href='/genre/folk+rock' target='_blank'>folk rock</a><br/><i>about</i></li>
    <li><a href='/genre/stoner+rock' target='_blank'>stoner rock</a><br/><i>about</i></li>
    <li><a href='/genre/comedy' target='_blank'>comedy</a><br/><i>about</i></li>
    <li><a href='/genre/psytrance' target='_blank'>psytrance</a><br/><i>about</i></li>
    <li><a href='/genre/christmas' target='_blank'>christmas</a><br/><i>about</i></li>
    <li><a href='/genre/sad' target='_blank'>sad</a><br/><i>about</i></li>
    <li><a href='/genre/atmospheric' target='_blank'>atmospheric</a><br/><i>about</i></li>
    <li><a href='/genre/melancholy' target='_blank'>melancholy</a><br/><i>about</i></li>
    <li><a href='/genre/fun' target='_blank'>fun</a><br/><i>about</i></li>
    <li><a href='/genre/deathcore' target='_blank'>deathcore</a><br/><i>about</i></li>
    <li><a href='/genre/jpop' target='_blank'>jpop</a><br/><i>about</i></li>
    <li><a href='/genre/deutsch' target='_blank'>deutsch</a><br/><i>about</i></li>
    <li><a href='/genre/romantic' target='_blank'>romantic</a><br/><i>about</i></li>
    <li><a href='/genre/viking+metal' target='_blank'>viking metal</a><br/><i>about</i></li>
    <li><a href='/genre/fusion' target='_blank'>fusion</a><br/><i>about</i></li>
    <li><a href='/genre/female+fronted+metal' target='_blank'>female fronted metal</a><br/><i>about</i></li>
    <li><a href='/genre/irish' target='_blank'>irish</a><br/><i>about</i></li>
    <li><a href='/genre/uk' target='_blank'>uk</a><br/><i>about</i></li>
    <li><a href='/genre/visual+kei' target='_blank'>visual kei</a><br/><i>about</i></li>
    <li><a href='/genre/spanish' target='_blank'>spanish</a><br/><i>about</i></li>
    <li><a href='/genre/relax' target='_blank'>relax</a><br/><i>about</i></li>
    <li><a href='/genre/hardcore+punk' target='_blank'>hardcore punk</a><br/><i>about</i></li>
    <li><a href='/genre/acid+jazz' target='_blank'>acid jazz</a><br/><i>about</i></li>
    <li><a href='/genre/relaxing' target='_blank'>relaxing</a><br/><i>about</i></li>
    <li><a href='/genre/alt-country' target='_blank'>alt-country</a><br/><i>about</i></li>
    <li><a href='/genre/amazing' target='_blank'>amazing</a><br/><i>about</i></li>
    <li><a href='/genre/covers' target='_blank'>covers</a><br/><i>about</i></li>
    <li><a href='/genre/favorite+songs' target='_blank'>favorite songs</a><br/><i>about</i></li>
    <li><a href='/genre/italian' target='_blank'>italian</a><br/><i>about</i></li>
    <li><a href='/genre/lo-fi' target='_blank'>lo-fi</a><br/><i>about</i></li>
    <li><a href='/genre/garage+rock' target='_blank'>garage rock</a><br/><i>about</i></li>
    <li><a href='/genre/happy' target='_blank'>happy</a><br/><i>about</i></li>
    <li><a href='/genre/goth' target='_blank'>goth</a><br/><i>about</i></li>
    <li><a href='/genre/melancholic' target='_blank'>melancholic</a><br/><i>about</i></li>
    <li><a href='/genre/rockabilly' target='_blank'>rockabilly</a><br/><i>about</i></li>
    <li><a href='/genre/live' target='_blank'>live</a><br/><i>about</i></li>
    <li><a href='/genre/swing' target='_blank'>swing</a><br/><i>about</i></li>
    <li><a href='/genre/ethereal' target='_blank'>ethereal</a><br/><i>about</i></li>
    <li><a href='/genre/dark' target='_blank'>dark</a><br/><i>about</i></li>
    <li><a href='/genre/norwegian' target='_blank'>norwegian</a><br/><i>about</i></li>
    <li><a href='/genre/emocore' target='_blank'>emocore</a><br/><i>about</i></li>
    <li><a href='/genre/ballad' target='_blank'>ballad</a><br/><i>about</i></li>
    <li><a href='/genre/glam+rock' target='_blank'>glam rock</a><br/><i>about</i></li>
    <li><a href='/genre/australian' target='_blank'>australian</a><br/><i>about</i></li>
    <li><a href='/genre/brazilian' target='_blank'>brazilian</a><br/><i>about</i></li>
    <li><a href='/genre/male+vocalist' target='_blank'>male vocalist</a><br/><i>about</i></li>
    <li><a href='/genre/good' target='_blank'>good</a><br/><i>about</i></li>
    <li><a href='/genre/americana' target='_blank'>americana</a><br/><i>about</i></li>
    <li><a href='/genre/party' target='_blank'>party</a><br/><i>about</i></li>
    <li><a href='/genre/soft+rock' target='_blank'>soft rock</a><br/><i>about</i></li>
    <li><a href='/genre/synth+pop' target='_blank'>synth pop</a><br/><i>about</i></li>
    <li><a href='/genre/political' target='_blank'>political</a><br/><i>about</i></li>
    <li><a href='/genre/melodic+metal' target='_blank'>melodic metal</a><br/><i>about</i></li>
    <li><a href='/genre/sludge' target='_blank'>sludge</a><br/><i>about</i></li>
    <li><a href='/genre/jrock' target='_blank'>jrock</a><br/><i>about</i></li>
    <li><a href='/genre/epic' target='_blank'>epic</a><br/><i>about</i></li>
    <li><a href='/genre/hiphop' target='_blank'>hiphop</a><br/><i>about</i></li>
    <li><a href='/genre/rock+n+roll' target='_blank'>rock n roll</a><br/><i>about</i></li>
    <li><a href='/genre/post+rock' target='_blank'>post rock</a><br/><i>about</i></li>
    <li><a href='/genre/technical+death+metal' target='_blank'>technical death metal</a><br/><i>about</i></li>
    <li><a href='/genre/usa' target='_blank'>usa</a><br/><i>about</i></li>
    <li><a href='/genre/favourite+songs' target='_blank'>favourite songs</a><br/><i>about</i></li>
    <li><a href='/genre/vocal' target='_blank'>vocal</a><br/><i>about</i></li>
    <li><a href='/genre/female+vocals' target='_blank'>female vocals</a><br/><i>about</i></li>
    <li><a href='/genre/remix' target='_blank'>remix</a><br/><i>about</i></li>
    <li><a href='/genre/speed+metal' target='_blank'>speed metal</a><br/><i>about</i></li>
    <li><a href='/genre/club' target='_blank'>club</a><br/><i>about</i></li>
    <li><a href='/genre/electropop' target='_blank'>electropop</a><br/><i>about</i></li>
    <li><a href='/genre/contemporary+classical' target='_blank'>contemporary classical</a><br/><i>about</i></li>
    <li><a href='/genre/bossa+nova' target='_blank'>bossa nova</a><br/><i>about</i></li>
    <li><a href='/genre/funky' target='_blank'>funky</a><br/><i>about</i></li>
    <li><a href='/genre/baroque' target='_blank'>baroque</a><br/><i>about</i></li>
    <li><a href='/genre/rhythm+and+blues' target='_blank'>rhythm and blues</a><br/><i>about</i></li>
    <li><a href='/genre/progressive+trance' target='_blank'>progressive trance</a><br/><i>about</i></li>
    <li><a href='/genre/electroclash' target='_blank'>electroclash</a><br/><i>about</i></li>
    <li><a href='/genre/russian+rock' target='_blank'>russian rock</a><br/><i>about</i></li>
    <li><a href='/genre/brasil' target='_blank'>brasil</a><br/><i>about</i></li>
    <li><a href='/genre/neofolk' target='_blank'>neofolk</a><br/><i>about</i></li>
    <li><a href='/genre/trip+hop' target='_blank'>trip hop</a><br/><i>about</i></li>
    <li><a href='/genre/nu-metal' target='_blank'>nu-metal</a><br/><i>about</i></li>
    <li><a href='/genre/dancehall' target='_blank'>dancehall</a><br/><i>about</i></li>
    <li><a href='/genre/industrial+rock' target='_blank'>industrial rock</a><br/><i>about</i></li>
    <li><a href='/genre/rock+and+roll' target='_blank'>rock and roll</a><br/><i>about</i></li>
    <li><a href='/genre/guitar+virtuoso' target='_blank'>guitar virtuoso</a><br/><i>about</i></li>
    <li><a href='/genre/world+music' target='_blank'>world music</a><br/><i>about</i></li>
    <li><a href='/genre/drone' target='_blank'>drone</a><br/><i>about</i></li>
    <li><a href='/genre/smooth+jazz' target='_blank'>smooth jazz</a><br/><i>about</i></li>
    <li><a href='/genre/dnb' target='_blank'>dnb</a><br/><i>about</i></li>
    <li><a href='/genre/breakbeat' target='_blank'>breakbeat</a><br/><i>about</i></li>
    <li><a href='/genre/catchy' target='_blank'>catchy</a><br/><i>about</i></li>
    <li><a href='/genre/rapcore' target='_blank'>rapcore</a><br/><i>about</i></li>
    <li><a href='/genre/dubstep' target='_blank'>dubstep</a><br/><i>about</i></li>
    <li><a href='/genre/art+rock' target='_blank'>art rock</a><br/><i>about</i></li>
    <li><a href='/genre/loved' target='_blank'>loved</a><br/><i>about</i></li>
    <li><a href='/genre/summer' target='_blank'>summer</a><br/><i>about</i></li>
    <li><a href='/genre/thrash' target='_blank'>thrash</a><br/><i>about</i></li>
    <li><a href='/genre/drum+n+bass' target='_blank'>drum n bass</a><br/><i>about</i></li>
    <li><a href='/genre/dark+electro' target='_blank'>dark electro</a><br/><i>about</i></li>
    <li><a href='/genre/psychobilly' target='_blank'>psychobilly</a><br/><i>about</i></li>
    <li><a href='/genre/mpb' target='_blank'>mpb</a><br/><i>about</i></li>
    <li><a href='/genre/underground+hip-hop' target='_blank'>underground hip-hop</a><br/><i>about</i></li>
    <li><a href='/genre/ska+punk' target='_blank'>ska punk</a><br/><i>about</i></li>
    <li><a href='/genre/southern+rock' target='_blank'>southern rock</a><br/><i>about</i></li>
    <li><a href='/genre/medieval' target='_blank'>medieval</a><br/><i>about</i></li>
    <li><a href='/genre/vocal+trance' target='_blank'>vocal trance</a><br/><i>about</i></li>
    <li><a href='/genre/dreamy' target='_blank'>dreamy</a><br/><i>about</i></li>
    <li><a href='/genre/christian+rock' target='_blank'>christian rock</a><br/><i>about</i></li>
    <li><a href='/genre/dream+pop' target='_blank'>dream pop</a><br/><i>about</i></li>
    <li><a href='/genre/pagan+metal' target='_blank'>pagan metal</a><br/><i>about</i></li>
    <li><a href='/genre/minimal+techno' target='_blank'>minimal techno</a><br/><i>about</i></li>
    <li><a href='/genre/nu+jazz' target='_blank'>nu jazz</a><br/><i>about</i></li>
    <li><a href='/genre/breakcore' target='_blank'>breakcore</a><br/><i>about</i></li>
    <li><a href='/genre/english' target='_blank'>english</a><br/><i>about</i></li>
  </ul>
  <div id="about-genre"></div>
</section>