  <form id="listenForm" onSubmit="return false;"> 
    <input type="text" name="q" id="q" value="<%= (params[:artist_band] ? params[:artist_band].gsub('+',' ') : 'Enter Artist or Band Here') %>" tabindex="1"/>
    <input type="button" name="just" value="Only" class="listen just" tabindex="2"/>
    <input type="button" name="similar" value="Similar" class="listen similar" tabindex="3"/>
  </form>

  <section id="about">
    <span class="tooltip-tip"></span>
    Howdy, friend, wondering what Tubalr is? Tubalr allows you to effortlessly listen to a band's or artist's top YouTube videos without
    all the clutter YouTube brings. To get started just type a band's or artist's name into the search box and select
    only or similar.
  </section>
</div>

<script>
  <%= "just('#{params[:artist_band]}');" if request.path.index("just") %>
  <%= "similarTo('#{params[:artist_band]}');" if request.path.index("similar") %>
</script>

<section id="player">
  <aside id="share">
    <a href="#" id="facebook" onClick="facebook()"></a>
    <a href="" id="twitter"></a>
	</aside>
	<h4 id="currentVideoTitle"></h4>
	<div id="ytplayerid"></div> 
	<nav> 
		<a href="#" onClick="nextSong()" id="next">next</a>
		<a href="#" onClick="previousSong()" id="prev">previous</a> 
	</nav>
	<section id="playlist">	</section>
</section>