<section id="rain">
  Sit back and relax, clear your mind.

  <div id="share-rain">
    <div class='facebook' onClick="share_rain_on_facebook();">share on facebook</div>
    <div class='twitter' onClick="share_rain_on_twitter();">tweet on twitter</div>
  </div>
  
  <iframe id="rain-player" src="http://www.youtube.com/embed/1pSyYhRYeIM?loop=1&autoplay=1&playlist=1pSyYhRYeIM"></iframe>
</section>

<script>
  $(document).ready(function () {
    $.get('/insert_search/relaxation/rain');
  });
  
  function share_rain_on_facebook () {
    FB.ui({
        method: 'stream.publish',
        attachment: {
          name: "Relaxing rain, brought to you by tubalr!",
          href: "http://www.tubalr.com/rain",
          description: ("Tubalr allows you to effortlessly listen to a band's or artist's top YouTube videos without all the clutter YouTube brings.")
        },
        display: 'popup'
      },
      function (response) {
      }
    );
    return false;
  }
  
  function share_rain_on_twitter () {
    var width  = 575,
	      height = 400,
	      left   = ($(window).width()  - width)  / 2,
	      top    = ($(window).height() - height) / 2,
	      url    = "https://twitter.com/share?text=I%27m%20listening%20to%20relaxing%20rain%20on%20tubalr%21&url=http%3A%2F%2Ftubalr.com%2Frain",
	      opts   = 'status=1' +
	               ',width='  + width  +
	               ',height=' + height +
	               ',top='    + top    +
	               ',left='   + left;

	  window.open(url, 'twitter', opts);
  }
</script>