<section id="support-main" class="remove-when-searching">
  <div>
    <h2>Support Tubalr</h2>
    <p>
      Tubalr is run with time, effort, and care... and will continue to, as long as there is interest and support behind the idea. Regardless of monetary backing, Tubalr will continue to run as long as it can. Providing a clutterless and free listening experience at all costs.
      <br/></br>
      Below you will find several options to support Tubalr, if you find what I'm doing of use, feel free to use them. Either way, I will always be here for my supporters, money or no money. Feel free to reach out at <a href="mailto:listen.to.tubalr@gmail.com">listen.to.tubalr@gmail.com</a> for anything you may need.
      <br/><br/>
      Thanks Friends,<br/>
      Cody
    </p>
  </div>
  <hr/>
  <div>
    <h2>Donations</h2>
    
    <p>
      All donations are done through <a href="http://www.paypal.com/" target="_blank">PayPal</a> and are 100% voluntary. Donations are just a monetary way of supporting the upkeep and future/past development. They are also used for hosting costs and domain costs.
    </p>
    
    <h3>One Time Donations</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="VLGMMSXGJVV56">
      <input type="submit" value="You Decide">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="RLGGMDR8Z2E7W">
      <input type="submit" value="$5">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="36WJC9FC99T9C">
      <input type="submit" value="$10">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="XFE3KG3B3DRS8">
      <input type="submit" value="$20">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WUP9LNC3TGWHW">
      <input type="submit" value="$50">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="B9FDLZ6U7Z2HS">
      <input type="submit" value="$100">
    </form>

    <h3>Reoccuring Donations</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="SJM3UK9YUQGVE">
      <input type="submit" value="$3">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="TRJX978VG23NE">
      <input type="submit" value="$5">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="473AB4AE32K2G">
      <input type="submit" value="$8">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="KJVY2VWR8UPUS">
      <input type="submit" value="$10">
    </form>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="R3GVUUF2KMX62">
      <input type="submit" value="$20">
    </form>
    <p>
      You can unsubscribe at any time be visiting your <a href="https://www.paypal.com/cgi-bin/webscr" target="_blank">PayPal subscription manager</a>.
    </p>
  </div>
  <hr/>
  <div>
    <h2>Merchandise</h2>

    <h3>Tubalr Tee</h3>
    <div class="tee-container">
      <img src="/assets/tubalr-tee.png">

      <p>
        American Apparel athletic tee is a cotton, poly & rayon blend that is the softest, most desirable shirt. This wonderful medium-lightweight tee has a vintage / fitted cut. 
        <br/><br/>
        Price: $25.99
        <br/><br/>
        <a class="button has-icon-left" href="http://skreened.com/tubalr/tubalr" target="_blank"/><span class="icon-shopping-cart"></span>Buy Now</a>
      </p>
    </div>
  </div>
  <hr/>
  <div>
    <h2>Coders</h2>
    <p>
      Tubalr's full source can be found on <a href="https://github.com/cjstewart88/tubalr" target="_blank">github</a>, 
      feel free to send a PR or submit an issue!
    </p>
  </div>
  <hr/>
  <div>
    <h2>Feedback & Community</h2>
    <p>
      Feedback and community support are big reasons why Tubalr is what it is today. If you'd like to participate, head on over to Reddit and subscribe to <a href="http://reddit.com/r/tubalr" target="_blank">/r/tubalr</a>. 
      <br/><br/>
      Things to share on the reddit community:
      <ul>
        <li>discoveries</li>
        <li>custom playlists</li>
        <li>new features</li>
        <li>bugs</li>
        <li>suggestions</li>
      </ul>
    </p>
  </div>
</section>