<div id="index-section">
  <h3>Featured Subreddits</h3>
  <div class="featued-playlists">
    <a class="featured-playlist r-chillstep" href="/#/r/chillstep"><span>/r/chillstep</span></a>
    <a class="featured-playlist r-chillmusic" href="/#/r/chillmusic"><span>/r/chillmusic</span></a>
    <a class="featured-playlist r-dubstep" href="/#/r/dubstep"><span>/r/dubstep</span></a>
    <a class="featured-playlist r-house" href="/#/r/house"><span>/r/house</span></a>
    <a class="featured-playlist r-electrohouse" href="/#/r/electrohouse"><span>/r/electrohouse</span></a>
    <a class="featured-playlist r-ambientmusic" href="/#/r/ambientmusic"><span>/r/ambientmusic</span></a>
    <a class="featured-playlist r-indie-rock" href="/#/r/indie_rock"><span>/r/indie_rock</span></a>
    <a class="featured-playlist r-postrock" href="/#/r/postrock"><span>/r/postrock</span></a>
    <a class="featured-playlist r-stonerrock" href="/#/r/stonerrock"><span>/r/stonerrock</span></a>
    <a class="featured-playlist r-punk" href="/#/r/punk"><span>/r/punk</span></a>
    <a class="featured-playlist r-posthardcore" href="/#/r/posthardcore"><span>/r/posthardcore</span></a>
    <a class="featured-playlist r-listentothis" href="/#/r/listentothis"><span>/r/listentothis</span></a>
  </div>

  <h3>Popular Genres</h3>
  <div class="featued-playlists">
    <a class="featured-playlist edm" href="/#/genres/edm"><span>edm</span></a>
    <a class="featured-playlist chillwave" href="/#/genres/chillwave"><span>chillwave</span></a>
    <a class="featured-playlist indie-folk" href="/#/genres/indie folk"><span>indie folk</span></a>
    <a class="featured-playlist indie-pop" href="/#/genres/indie pop"><span>indie pop</span></a>
    <a class="featured-playlist country" href="/#/genres/country"><span>country</span></a>
    <a class="featured-playlist jazz" href="/#/genres/jazz"><span>jazz</span></a>
    <a class="featured-playlist blues" href="/#/genres/blues"><span>blues</span></a>
    <a class="featured-playlist hip-hop" href="/#/genres/hip hop"><span>hip hop</span></a>
    <a class="featured-playlist reggea" href="/#/genres/reggea"><span>reggea</span></a>
    <a class="featured-playlist metal" href="/#/genres/metal"><span>metal</span></a>
    <a class="featured-playlist post-rock" href="/#/genres/post-rock"><span>post-rock</span></a>
    <a class="featured-playlist classical" href="/#/genres/classical"><span>classical</span></a>
  </div>
</div>
