<ul>
  <li><a href='/r/dubstep'>Dubstep</a></li>
  <li><a href='/r/electronic'>Electronic</a></li>
  <li><a href='/r/electronicmagic'>Electronic Magic</a></li>
  <li><a href='/r/electrohouse'>Electro House</a></li>
  <li><a href='/r/house'>House</a></li>
  <li><a href='/r/techno'>Techno</a></li>
  <li><a href='/r/trance'>Trance</a></li>
  <li><a href='/r/HipHopHeads'>Hip Hop</a></li>
  <li><a href='/genres/jazz'>Jazz</a></li>
  <li><a href='/genres/chillwave'>Chillwave</a></li>
  <li><a href='/r/punk'>Punk</a></li>
  <li><a href='/r/metal'>Metal</a></li>
  <li><a href='/r/progmetal'>Prog. Metal</a></li>
  <li><a href='/r/postrock'>Post Rock</a></li>
  <li><a href='/r/indie_rock'>Indie Rock</a></li>
  <li><a href='/genres/indie+folk'>Indie Folk</a></li>
</ul>