<div id="index-section">
  <div class="featued-playlists">
    <a class="featured-playlist chillstep" href="/#/r/chillstep"><span>/r/chillstep</span></a>
    <a class="featured-playlist chillmusic" href="/#/r/chillmusic"><span>/r/chillmusic</span></a>
    <a class="featured-playlist dubstep" href="/#/r/dubstep"><span>/r/dubstep</span></a>
    <a class="featured-playlist house" href="/#/r/house"><span>/r/house</span></a>
    <a class="featured-playlist electrohouse" href="/#/r/electrohouse"><span>/r/electrohouse</span></a>
    <a class="featured-playlist ambientmusic" href="/#/r/ambientmusic"><span>/r/ambientmusic</span></a>
    <a class="featured-playlist indie-rock" href="/#/r/indie_rock"><span>/r/indie_rock</span></a>
    <a class="featured-playlist postrock" href="/#/r/postrock"><span>/r/postrock</span></a>
    <a class="featured-playlist stonerrock" href="/#/r/stonerrock"><span>/r/stonerrock</span></a>
    <a class="featured-playlist punk" href="/#/r/punk"><span>/r/punk</span></a>
    <a class="featured-playlist posthardcore" href="/#/r/posthardcore"><span>/r/posthardcore</span></a>
    <a class="featured-playlist listentothis" href="/#/r/listentothis"><span>/r/listentothis</span></a>
    <a class="featured-playlist reggea" href="/#/r/reggae"><span>/r/reggae</span></a>
    <a class="featured-playlist jazz" href="/#/r/jazz"><span>/r/jazz</span></a>
    <a class="featured-playlist chillwave" href="/#/r/chillwave"><span>/r/chillwave</span></a>
    <a class="featured-playlist indie-folk" href="/#/r/IndieFolk"><span>/r/IndieFolk</span></a>
    <a class="featured-playlist blues" href="/#/r/blues"><span>/r/Blues</span></a>
    <a class="featured-playlist hip-hop" href="/#/genres/HipHopHeads"><span>/r/HipHopHeads</span></a>
    <a class="featured-playlist metal" href="/#/r/metal"><span>metal</span></a>
    <a class="featured-playlist post-rock" href="/#/r/PostRock"><span>post-rock</span></a>
  </div>
</div>
