<div id="listen-section">
  <div id="error-or-loading" ng-show="loading || error">
    <span ng-show="error">{{error}}</span>
    <span id="loading" ng-show="loading"><i class="fa fa-spinner fa-spin"></i></span>
  </div>

  <div ng-show="!loading && !error">
    <h2 id="playlist-title">{{yourListeningTo()}}</h2>
    <ul id="playlist">
      <li ng-repeat="v in playlist.videos" ng-click="playlist.jumpToVideo($index)"
        ng-class="{'active-playlist-item': $index == playlist.currentVideoIndex}"
        class="playlist-item">
        <span class="playlist-item-title">{{v.title}}</span>
      </li>
    </ul>

    <div id="player-controls">
      <div id="left-controls-wrapper">
        <button class="control-button">
          <i id="previous" class="fa fa-fw fa-backward" ng-click="playlist.previousVideo()"></i>
        </button>
        <button class="control-button play-pause-button" ng-show="player.ytApi.getPlayerState() == 2" ng-click="player.ytApi.playVideo()">
          <i class="fa fa-fw fa-play"></i>
        </button>
        <button class="control-button play-pause-button" ng-show="player.ytApi.getPlayerState() == 1" ng-click="player.ytApi.pauseVideo()">
          <i class="fa fa-fw fa-pause"></i>
        </button>
       <button class="control-button">
          <i id="next" class="fa fa-fw fa-forward" ng-click="playlist.nextVideo()"></i>
       </button>
     </div>

      <div id="progress-wrapper">
        <span id="time-elapsed">{{player.currentTime | hhmmss }}</span>
        <div id="progress-bar-outer" ng-click="player.seekToClick($event)"><div id="progress-bar-inner" ng-style="{width: player.percentPlayed+'%'}"></div></div>
        <span id="total-time">{{player.ytApi.getDuration() | hhmmss }}</span>
      </div>
    </div>
  </div>
</div>