<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:100", "main" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js", "https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js", "ga", "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({ 
            appId:'YOUR_APP_ID', cookie:true, 
            status:true, xfbml:true, oauth:true
        });
    </script>
    
    <header>
      <fb:add-to-timeline style="position: absolute; right: 0px; top: 15px;"></fb:add-to-timeline>
      
      <% if @playlist_id %>
        <aside>
          You're currently in a user made playlist; to add songs to it, simply start searching Tubalr below!
        </aside>
      <% end %>
      
      <img src="../images/tubalr_logo.png" onClick="window.location.href='/'">
      
      <form id="listenForm" onSubmit="return false;"> 
        <input type="text" name="q" id="q" value="ENTER ARTIST'S NAME HERE"/><br/>
        <input type="button" name="just" value="This Artist/Band Only" class="listen just"/>
        <input type="button" name="similar" value="Similar Artists/Bands" class="listen similar"/>
      </form>
    </header>
    
    <%= yield %>
      
    <footer>
 			<iframe src="http://www.facebook.com/plugins/like.php?href=www.tubalr.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
			<section>
				Idea/Coding by <a href="http://twitter.com/codyjackstewart" target="_blank">Cody Stewart</a> - Design by <a href="http://twitter.com/alexpierce" target="_blank">Alex Pierce</a> - <a href='https://github.com/cjstewart88/Tubalr' target='_blank'>Github</a>
			</section>
		</footer>
  </body>
</html>
