<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag :all %>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script>
      $(document).ready(function(){
        $('#q').focus(function() {
					if ($(this).val() == "ENTER ARTIST'S NAME HERE") $(this).val("");
				});
				$('#q').blur(function() {
					if ($(this).val() == "") $(this).val("ENTER ARTIST'S NAME HERE");
				});
				
        $('.just').click(function() {
       	  just($('#q').val());
      	  $('#player').show();
      	  $('#about').hide();
        });
        $('.similar').click(function() {
          similarTo($('#q').val());
    	    $('#player').show();
    	    $('#about').hide();
        });
        
        $('input#q').keypress(function(e) {
          var code = (e.keyCode ? e.keyCode : e.which);
          if(code == 13) { //Enter keycode  
            if ($('#q').val() != "") {
              just($('#q').val());
              $('#player').show();
              $('#about').hide();
            }
          }
        });
      });
    </script>
  </head>
  <body>
    <header>
      <img src="../images/tubalr_logo.png" onClick="window.location = 'index.php';">
      
      <form id="listenForm" onSubmit="return false;"> 
  			<input type="text" name="q" id="q" value="ENTER ARTIST'S NAME HERE"/><br/> 
				<input type="button" name="just" value="This Artist/Band Only" class="listen just"/> 
				<input type="button" name="similar" value="Similar Artists/Bands" class="listen similar"/> 
			</form>
    </header>
    
    <%= yield %>
      
    <footer>
 			<iframe src="http://www.facebook.com/plugins/like.php?href=www.tubalr.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
			<section>
				Idea/Coding by <a href="http://twitter.com/codyjackstewart" target="_blank">Cody Stewart</a> - Design by <a href="http://twitter.com/alexpierce" target="_blank">Alex Pierce</a> - <a href='http://blog.tubalr.com/' target='_blank'>The Blog</a>
			</section>
		</footer>
  </body>
</html>
