<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag     "http://fonts.googleapis.com/css?family=Pacifico",  "tv" %>
    <%= javascript_include_tag  "http://connect.facebook.net/en_US/all.js",         "tv" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
      <section id="guide">
        <div class='channel'>Sports</div>
        <div class='channel'>Music</div>
        <div class='channel'>Comedy</div>
        <div class='channel'>Gaming</div>
        <div class='channel'>News</div>
        <div class='channel'>Education</div>
      </section>
      
      <div id="youtube-player"></div>
      
      <button id="open-guide">Guide</button>
      
      <button id="prev-video">&laquo; Prev</button>
      <button id="next-video">Next &raquo;</button>
      <%= yield %>
    </div>
  </body>
</html>
